@media only screen 
and (min-device-width : 1000px) {

.carousel-left-dots{
  height: 20px;
  margin-top: 140px;
  margin-left: 10px;
  display: block;
  position: absolute;
}

.carousel-left-dot{
  height: 7px;
  width: 7px; 
  margin-right: 7px;
  border-radius: 15px;
  border: 1px solid rgb(180,180,180);
  display: inline-block;
}

.carousel-left-dot-active{
  background-color: rgb(140,140,140);
  border: 1px solid rgb(140,140,140);
}

.carousel-left-text{
  width: 150px;
  height: 300px;
  margin-top: 180px;
  margin-left: 10px;
  vertical-align: top;
}

.carousel-left-title{
  font-size: 17px;
  font-weight: 500;
  height: 50px;
  position: absolute;
}

.carousel-left-body{
  font-size: 15px;
  margin-top: 25px; 
  height: 150px;
  width: 200px;
  position: absolute;
  text-align: left;
}

.carousel-contain{
  width: 780px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;
  height: 432px;
}

.carousel-content{
  width: 650px;
  height: 432px;
  display: inline-block;
  border-bottom: 1px solid rgb(200,200,200);
}

.carousel-content .carousel-left{
  width: 200px;
  height: 100%;
  display: inline-block;
}

.carousel-content .carousel-right{
  width: 355px;
  height: 100%;
  margin-left: 30px;
  display: inline-block;
  background-size: 305px 448px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.carousel-content .carousel-right-one{
  background-image: url(http://dn27tkn48vqxi.cloudfront.net/static/news-carousel-one.png);
}

.carousel-content .carousel-right-two{
  background-image: url(http://dn27tkn48vqxi.cloudfront.net/static/news-carousel-two.png);
}

.carousel-content .carousel-right-three{
  background-image: url(http://dn27tkn48vqxi.cloudfront.net/static/news-carousel-three.png);
}

.carouselbox {
  width: 650px;
  position: relative;
  overflow: hidden;
}

.content {
  margin: 0;
  padding: 0;
}

.content li {
  width: 650px;
  height: 432px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.active {
  height: 432px;
}
.active li {
  position: absolute;
  top: 800px;
}
.active li.current {
  top: 0px;
}


.carousel-button-contain{
  width: 60px;
  height: 100%;
  position: relative;
  display: inline-block;
}

.carousel-contain:hover{
  .carousel-button{
    opacity: 0.75;
  }
}

.carousel-button{
  height: 60px;
  background-color: rgba(0,0,0,0.04);
  margin-top: 200px;
  border-radius: 8px;
  opacity: 0.5;
  cursor: pointer;
}

.carousel-button:hover{
  opacity: 1 !important;
}

.carousel-button-left{
  margin-left: -10px;
}

.carousel-button-right{
  margin-left: 10px;
}

.carousel-button-arrow{
  width: 60px;
  height: 60px;
  background-image: url(caret.png);
  background-size: 20px 38px;
  background-repeat: no-repeat;
  background-position: 20px 12px;
}

.carousel-button-arrow-left{
  transform: rotate(180deg);
  background-position: 25px 12px;
}


.buttons {
  width: 60px;
  position: relative;
}

button {
  display: block;
} 

}
