/* Greys, 0 darkest */
$greyzero: rgb(40,40,50);
$greyone: rgb(83,88,95);
$greytwo: rgb(120,120,120);
$greythree: rgb(166,170,169);
$greyfour: rgb(190,190,200);
$greyfive: rgb(210,210,220);
$greysix: rgb(245,245,250);
$greyseven: rgb(248,248,248);
$greyeight: rgb(253,253,253);

$semigreyone: rgba(83,88,95,0.8);

$darkblue: rgb(3,101,192);
$midblue: rgb(54,140,229);
$lightblue: rgb(81,167,249);

$white: rgb(255,255,255);
$semiwhite: rgba(255,255,255,0.8);
$halfwhite: rgba(255,255,255,0.5);


/* PAGE TEXT */

/* Defaults */
h1 { color: $greyone;     }
h2 { color: $semigreyone; }
h3 { color: $greyone;     }
h4 { color: $greyone;     }
h5 { color: $greythree;   }
h6 { color: $greythree;   }
p  { color: $greyone;     }

/* H2 BOXES */
.h2-item {
  border: 1px solid $greyfive;
  background-color: rgba(255,255,255,0.75); 
  @media (-webkit-min-device-pixel-ratio: 2) { 
      border: 0.5px solid $greyfive;
  }
}


/* BACKGROUND */
.head-contain {background: linear-gradient(to bottom, $greyseven 0%, white 100%);}
.news .head-contain{
  border-bottom: 1px solid $greyfive;
  background-image:
    radial-gradient(
      circle at center bottom,
      $white,
      $greyseven 70%
    );
}
.dashboards .head-contain{
  border-bottom: 1px solid $greyfive;
}

/* FIXED NAV */
.mobile-navbar-container{
  border-bottom: 0.5px solid rgb(200,200,200);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
  moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1); 
}

.mobile-navbar-header{
  background-color: rgba(252,252,252,1);
}

.mobile-navbar-name{
  color: rgb(120,120,120);
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  background: rgb(60,60,80);
}

