/* Greys, 0 darkest */

$greyone: rgb(83,88,95);
$greytwo: rgb(120,120,120);
$greythree: rgb(166,170,169);
$greyfour: rgb(190,190,200);
$greysix: rgb(210,210,220);
$greyseven: rgb(248,248,248);
$greyeight: rgb(253,253,253);

$semigreyone: rgba(83,88,95,0.8);

$darkblue: rgb(3,101,192);
$midblue: rgb(54,140,229);
$lightblue: rgb(81,167,249);

$white: rgb(255,255,255);
$semiwhite: rgba(255,255,255,0.8);



.carousel-left-title{
  color: $greyone;
}

.carousel-left-text{
  color: $greytwo;
}




/* PAGE TEXT */

/* Defaults */
h1 { color: $greyone;     }
h2 { color: $semigreyone; }
h3 { color: $greytwo;     }
h4 { color: $greyone;     }
h5 { color: $greythree;   }
h6 { color: $greythree;   }
p  { color: $greyone;     }

/* Special */
.news           h1 { color: $white;     }
.news           h2 { color: $white;     }
.journeys       h1 { color: $white;     }
.journeys       h2 { color: $semiwhite; }
.googleapps     h1 { color: $white;     }
.googleapps     h2 { color: $white;     }


/* HEADBOX */

/* Default */
.head-contain {background: linear-gradient(to bottom, $greyseven 0%, $greyeight 100%);}

/* Special */
.news .head-contain {background: linear-gradient(to bottom, $midblue 0%, $lightblue 100%);}

.journeys .head-contain {background: linear-gradient(to bottom, $midblue 0%, $lightblue 100%);}
.googleapps .head-contain {background-image: url(googleapps-bg.png); background-size: 1280px 430px; background-repeat: no-repeat;}

/*.dashboards .head-box { 
  background: linear-gradient(to bottom, $greyseven 0%, $greyeight 100%); 
}*/

.dashboards .case-head-container{
  background: -webkit-linear-gradient(90deg, rgba(253,253,253,1) 0%, rgba(248,248,248,1) 100%);
}

.journeys .case-head-container{
  /*background: -webkit-linear-gradient(90deg, rgba(40,40,30,1) 0%, rgba(20,20,30,1) 100%);*/
  /*background: none;*/
}

.googleapps .case-head-container{
  background: -webkit-linear-gradient(90deg, rgba(253,253,253,1) 0%, rgba(248,248,248,1) 100%);
}




/* NAV BAR */

/* Defaults */
.desktop-navbar-navbar a         { color: $greytwo; }
.desktop-navbar-case             { color: $greytwo; }
.desktop-navbar-item-bold a      { color: $greyone !important; }

/* Overrides */

.news-nav .desktop-navbar a           {color: $semiwhite;}
.news-nav .desktop-navbar-case        {color: $semiwhite;}
.news-nav .desktop-navbar-item-bold a {color: $white;}

.journeys-nav .desktop-navbar a           {color: $semiwhite;}
.journeys-nav .desktop-navbar-case        {color: $semiwhite;}
.journeys-nav .desktop-navbar-item-bold a {color: $white;}


.googleapps-nav .desktop-navbar a           {color: $semiwhite;}
.googleapps-nav .desktop-navbar-case        {color: $semiwhite;}
.googleapps-nav .desktop-navbar-item-bold a {color: $white;}


/* NAV COLORS */



.news-nav .desktop-navbar-name a { color: white; }
.news-nav .desktop-navbar-right { color: white; }
.news-nav .desktop-navbar-item a { color: rgba(255,255,255,0.75); }
.news-nav .desktop-navbar-item-news a { color: white; }

.dashboards-nav .desktop-navbar-name a { color: rgb(70,70,70);}
.dashboards-nav .desktop-navbar-right { color: rgb(70,70,70)}
.dashboards-nav .desktop-navbar-item a { color: rgba(70,70,70,0.75);}
.dashboards-nav .desktop-navbar-item-dashboards a { color: rgb(70,70,70); }

/*.journeys-nav .desktop-navbar-name a { color: white; }
.journeys-nav .desktop-navbar-right { color: white; }
.journeys-nav .desktop-navbar-item a { color: rgba(255,255,255,0.75); }
.journeys-nav .desktop-navbar-item-journeys a { color: rgb(255,255,255); }
*/
/*.googleapps-nav .desktop-navbar-name a { color: rgb(70,70,70); }
.googleapps-nav .desktop-navbar-right { color: rgb(70,70,70)}
.googleapps-nav .desktop-navbar-item a { color: rgba(70,70,70,0.75); }
.googleapps-nav .desktop-navbar-item-googleapps a { color: rgb(70,70,70); }*/


/* H2 BOXES */
.h2-item {
  border: 1px solid $greysix;
  background-color: rgba(255,255,255,0.75); 
  @media (-webkit-min-device-pixel-ratio: 2) { 
      border: 0.5px solid $greysix;
  }
}

.news .h2-item, .journeys .h2-item, .googleapps .h2-item {
  border: 1px solid rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.05); 
  @media (-webkit-min-device-pixel-ratio: 2) { 
      border: 0.5px solid rgba(255,255,255,0.5);
  }
}