/* Greys, 0 darkest */
$greyzero: rgb(40,40,50);
$greyone: rgb(83,88,95);
$greytwo: rgb(120,120,120);
$greythree: rgb(166,170,169);
$greyfour: rgb(190,190,200);
$greysix: rgb(210,210,220);
$greyseven: rgb(248,248,248);
$greyeight: rgb(253,253,253);

$semigreyone: rgba(83,88,95,0.8);

$darkblue: rgb(3,101,192);
$midblue: rgb(54,140,229);
$lightblue: rgb(81,167,249);

$white: rgb(255,255,255);
$semiwhite: rgba(255,255,255,0.8);


/* INDEX BG COLORS */
$orange:  rgb(243,144,25);
$purple:  rgb(179,106,226);
$red:     rgb(236,93,87);
$green:   rgb(112,191,65);



.carousel-left-title{
  color: $greyone;
}

.carousel-left-text{
  color: $greytwo;
}




/* INDEX BG */

.index-head-bg-one    .index-head-bg-text{ color: $orange;}
.index-head-bg-two    .index-head-bg-text{ color: $purple;}
.index-head-bg-three  .index-head-bg-text{ color: $red;}
.index-head-bg-four   .index-head-bg-text{ color: $midblue;}
.index-head-bg-five   .index-head-bg-text{ color: $green;}

.index-head-bg-one    .index-head-bg-block{ background-color: $orange;}
.index-head-bg-two    .index-head-bg-block{ background-color: $purple;}
.index-head-bg-three  .index-head-bg-block{ background-color: $red;}
.index-head-bg-four   .index-head-bg-block{ background-color: $midblue;}
.index-head-bg-five   .index-head-bg-block{ background-color: $green;}




/* PAGE TEXT */

/* Defaults */
h1 { color: $greyone;     }
h2 { color: $semigreyone; }
h3 { color: $greytwo;     }
h4 { color: $greyone;     }
h5 { color: $greythree;   }
h6 { color: $greythree;   }
p  { color: $greyone;     }

/* Special */
.news           h1 { color: $white;     }
.news           h2 { color: $white;     }
.journeys       h1 { color: $white;     }
.journeys       h2 { color: $semiwhite; }
.googleapps     h1 { color: $white;     }
.googleapps     h2 { color: $white;     }


/* HEADBOX */

/* Default */
.head-contain {background: linear-gradient(to bottom, $greyseven 0%, $greyeight 100%);}


.index .head-contain {background: linear-gradient(to bottom, $greyseven 0%, white 100%);}
/* Special */
.news .head-contain {background: linear-gradient(to bottom, $midblue 0%, $lightblue 100%);}
/*.journeys .head-contain {background: linear-gradient(to bottom, $midblue 0%, $lightblue 100%);}*/
.googleapps .head-contain {background-image: url(googleapps-bg.png); background-size: 1280px 430px; background-repeat: no-repeat;}



/* DESKTOP NAV BAR */

/* Defaults */
.desktop-navbar-item a, .desktop-navbar-item a:visited { color: $greytwo; }
.desktop-navbar-case             { color: $greythree; }
.index-nav .desktop-navbar-item-index a, .index-nav .desktop-navbar-item-item a:visited       { color: $greyone !important; }

/* Overrides */

.news-nav .desktop-navbar-item a, .index-nav .desktop-navbar-item a:visited {color: $semiwhite;}
.news-nav .desktop-navbar-item-index a, .index-nav .desktop-navbar-item-index a:visited {color: $semiwhite;}
.news-nav .desktop-navbar-case        {color: $semiwhite;}
.news-nav .desktop-navbar-item-news a, .index-nav .desktop-navbar-item-news a:visited {color: $white;}

.journeys-nav .desktop-navbar a           {color: $semiwhite;}
.journeys-nav .desktop-navbar-case        {color: $semiwhite;}
.journeys-nav .desktop-navbar-item-bold a {color: $white;}

.googleapps-nav .desktop-navbar a           {color: $semiwhite;}
.googleapps-nav .desktop-navbar-case        {color: $semiwhite;}
.googleapps-nav .desktop-navbar-item-bold a {color: $white;}

/* MOBILE NAVBAR */

/* FIXED NAV */
.mobile-navbar-container{
  border-bottom: 0.5px solid rgb(200,200,200);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
  moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1); 
}

.mobile-navbar-header{
  background-color: rgba(252,252,252,1);
}

.mobile-navbar-name{
  color: rgb(120,120,120);
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  background: rgb(60,60,80);
}
/* H2 BOXES */
.h2-item {
  border: 1px solid $greysix;
  background-color: rgba(255,255,255,0.75); 
  @media (-webkit-min-device-pixel-ratio: 2) { 
      border: 0.5px solid $greysix;
  }
}

.news .h2-item, .journeys .h2-item, .googleapps .h2-item {
  border: 1px solid rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.05); 
  @media (-webkit-min-device-pixel-ratio: 2) { 
      border: 0.5px solid rgba(255,255,255,0.5);
  }
}