@media only screen 
and (min-device-width : 1000px) {



.index .mobile-head-contain{
  display: none;
}

.index .mobile-head-contain-clear {
  display: none;
}


/* INDEX NAV  */

.index-nav-contain{
  width: 780px;
  margin: 0 auto;
  display: block;
  height: 190px; 
  position: relative;
}

.index-nav-block{
  width: 650px;
  height: 100%;
  margin: 0 auto;
}

.index-nav-text{
  float: left;
  width: 475px;
  position: absolute;
}

.index-nav-contain h1{
  color: rgb(70,70,70);
  font-size: 32px;
  margin-bottom: 5px;
  display: inline-block;
}

.index-nav-contain h1 a{
  color: rgb(81,167,249);
  text-decoration: none;
  box-shadow: inset 0 -2px 0 white, inset 0 -3px 0 rgb(81,167,249);
}

.index-nav-contain h1 a:hover{
  color: rgb(0,126,255);
  text-decoration: none;
  box-shadow: inset 0 -2px 0 white, inset 0 -3px 0 rgb(0,126,255);
}

.index-nav-h2-list{
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(170,170,170);
}

.index-nav-contain h3{
  margin-top: 10px;
  margin-bottom: 20px;
  color: rgb(120,120,120);
  font-size: 17px;
  margin-left: 0px;
  width: 400px;
  line-height: 1.3;
  height: 100px;
  text-align: left;
}

.index-nav-contain:hover{
  .index-nav-h2-list{
    color: rgb(120,120,120);
  }
}

.index .page-line{
  width: 650px;
  border-bottom: 1px solid rgb(220,220,230) !important;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 30px;
}



/* INDEX NAV BG */

.index-nav-news-bg{
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(http://dn27tkn48vqxi.cloudfront.net/static/index-nav-news-bg.png);
  background-repeat: no-repeat;
  background-position: 565px 40px;
  background-size: 82px 121px;
}

.index-nav-dashboards-bg{
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(http://dn27tkn48vqxi.cloudfront.net/static/index-nav-dashboards-bg.png);
  background-repeat: no-repeat;
  background-position: 555px 40px;
  background-size: 102px 136px;
}

.index-nav-journeys-bg{
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(http://dn27tkn48vqxi.cloudfront.net/static/index-nav-journeys-bg.png);
  background-repeat: no-repeat;
  background-position: 555px 40px;
  background-size: 112px 107px;
}

.index-nav-googleapps-bg{
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(http://dn27tkn48vqxi.cloudfront.net/static/index-nav-googleapps-bg.png);
  background-repeat: no-repeat;
  background-position: 535px 40px;
  background-size: 154px 92px;
}



/* NEWS BG*/

.news-bg{
  width: 900px;
  height: 432px;
  margin: 0 auto;
  position: relative;
  top: 300px;
}

.news-bg-center{
  width: 900px;
  margin: 0 auto;
  height: 432px;
  background-image: url(http://dn27tkn48vqxi.cloudfront.net/static/news-bg.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 900px 432px;
}

/*DASHBOARDS BG*/

.dashboards-bg{
  width: 100%;
  height: 473px;
  margin: 0 auto;
  position: relative;
  top: -132px;
  background-image: url(http://dn27tkn48vqxi.cloudfront.net/static/dashboards-bg.png);
  background-position: center center;
  background-size: 1644px 473px;
  background-repeat: no-repeat;
}

.dashboards .h1-contain h1{
  padding-top: 250px;
}

/* JOURNEYS BG */

.particle-canvas-container{
  width: 100%;
  height: 630px;
  /*border-bottom: 1px solid rgb(220,220,220);*/
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}


#particles-js{
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(250,250,250) 0%, white 100%);
  /*background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;*/
}

.particle-fadeout{
  width: 100%;
  /*background-color: rgba(255,0,0,0.5);*/
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  height: 60px;
  z-index: 20;
  position: absolute;
  top: 570px;
}

.journey-h4-contain{
  position: absolute;
  z-index: 50;
  top: 490px;
  width: 100%;
}

.journey-h4-pad{
  height: 75px;
}



/* GOOGLE APPS */

.googleapps .h1-contain {
  background-image: url(http://dn27tkn48vqxi.cloudfront.net/static/googleapps-bg.png);
  background-size: 183px 60px;
  background-repeat: no-repeat;
  background-position: 150px 13px;
}

.testimonial-contain{
  width: 780px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid rgb(210,210,210);
  border-bottom: 1px solid rgb(210,210,210);
  font-size: 18px;
  width: 650px;
  color: rgb(120,120,120);
  padding-right: none;
}

.googleapps-testimonial-name {
  margin-top: -10px !important;
  font-size: 17px;
  color: rgb(140,140,140);
}


.youtube {
  width: 780px;
  border-bottom: none;
}
.youtube h3{
  width: 650px;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 15px;fa
}

.youtube-90{
  font-size: 16px;
  color: rgb(180,180,180);
}
.youtube-contain{
  width: 658;
  margin: 0 auto;
  border: 1px solid rgb(200,200,200);
}



}
