@media only screen 
and (min-device-width : 1000px) 
{




/* CASE */

.case-global{

}

/* CASE HEADER */

.case-head-container{
  margin-top: -150px;
  width: 100%;
  height: 700px;
  padding-left: 30px;
  padding-right: 30px;
}

/*supposed to be used for bgimage*/
.case-head-block{
  width: 100%;
  height: 100%;
}

.case-head-h1{ 
  padding-top: 270px;
  padding-left: 70px;
  font-size: 60px;
  letter-spacing: -0.03em;
  color: white;
}

.case-head-h2{ 
  margin-top: 15px;
  font-size: 16px;
  color: white;
  padding-left: 70px;
  display: block;
  font-weight: bold;
}

.case-head-h3{ 
  margin-top: 30px;
  font-size: 16px;
  color: white;
  padding-left: 70px;
  line-height: 1.2;
  width: 500px;
}


/* NEWS CASE HEADER */


.news-case{
  background: -moz-linear-gradient(90deg, rgba(81,167,249,1) 0%, rgba(3,101,192,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(3,101,192,1)), color-stop(100%, rgba(81,167,249,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(81,167,249,1) 0%, rgba(3,101,192,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(81,167,249,1) 0%, rgba(3,101,192,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(81,167,249,1) 0%, rgba(3,101,192,1) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(81,167,249,1) 0%, rgba(3,101,192,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0365C0', endColorstr='#51A7F9',GradientType=0 ); /* ie6-9 */
}

/* CASE CONTENT BLOCK */

.case-content-container{
  height: auto;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.case-content-title{
  text-transform: uppercase;
  font-weight: normal;
  color: rgb(170,170,170);
  font-size: 18px;
  letter-spacing: 3.5;
  margin-top: 10px;
}

.case-content-h1{
  margin-top: 20px;
  margin-bottom: 70px;
  font-size: 32px;
  font-weight: bold;
  color: rgb(60,60,60);
}

.case-content-body{
  font-size: 16px;
  line-height: 1.3;
  color: rgb(60,60,60);
  width: 60%;
}




.contentcontainer{
  width: 100%;
  height: 1500px;
}

/* START */

.startcontainer{
  background-color: rgb(250,250,250);
  width: 100%;
  margin-left: -2px;
}

.startcontainer .contenth1{
  font-size: 36px;
  color: rgb(0,126,255);
  padding-top: 200px;
  letter-spacing: -0.02em;
  font-weight: bold;
  
}

.startcontainer .contenth2{
  font-size: 24px;
  /*background-color: green;*/
  width: auto;
  color: rgb(80,80,100);
  margin-top: 15px;
  letter-spacing: -0.01em;
  font-weight: bold;
}

.startcontainer .contenth3{
  font-size: 15px;
  width: 80%;
  color: rgb(40,40,70);
  margin-top: 15px;
  /*font-weight: bold;*/
}


/* NEWS */

}

/*
.currentsection{
  position: fixed;
  left: 200;
  top: 0;
  width: 100px;
  height: 100px;
  padding-top: 20px;
  font-size: 20px;
  background-color: white;
}*/