@media only screen 
and (min-device-width : 1000px) 
{

/*Show/Hide for Desktop*/
.desktop-navbar-container{ display: block; }
.mobile-navbar-container{ display: none; }

/* PAGE NAVBAR */

.desktop-navbar-container {
  padding-top: 35px;
  height: 40px;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  z-index: 50;
  position: absolute;
}

.desktop-navbar{
  width: 650px;
  margin: 0 auto;
}

.desktop-navbar-left{
  display: inline-block;
  float: left;
}

.desktop-navbar-right{
  display: inline-block;
  float: right;
}

.desktop-navbar-container a {
  text-decoration: none;
}

.desktop-navbar-container a:visited{
  text-decoration: none;
}

.desktop-navbar-case{
  display: inline-block;
  cursor: default;
}

.desktop-navbar-list{
  margin-left: 10px;
  display: inline-block;
}

.desktop-navbar-item {
   display: inline-block;
   text-align: center;
   margin-right: 5px;
}

.desktop-navbar-left a {
  padding: 10px;
  line-height: 1.2;
  border-radius: 5px;
}

.desktop-navbar-left a:hover {
  /*background-color: rgba(0,0,0,0.025);*/
}

.desktop-navbar-item a {
  padding: 10px;
  line-height: 1.2;
  border-radius: 5px;
}

.desktop-navbar-item a:hover{
  /*background-color: rgba(0,0,0,0.025);*/
}

/* COLORS */

$navdead: rgb(190,190,190);
$navnonactive: rgb(150,150,150);
$navbold: rgb(80,80,80);
$navactive: rgb(60,60,70);


.news-nav .desktop-navbar-item-news a,
.dashboards-nav .desktop-navbar-item-dashboards a,
.journeys-nav .desktop-navbar-item-journeys a,
.googleapps-nav .desktop-navbar-item-googleapps a {
  color: $navactive;
}

.desktop-navbar-left a {
  color: $navbold;
}

.desktop-navbar-item a {
  color: $navnonactive;
}

.desktop-navbar-item a:hover {
  color: $navbold;
}

.desktop-navbar-left a:hover {
  .desktop-navbar-left-com{
    color: $navbold;
  }
} 

.desktop-navbar-left-com,
.desktop-navbar-case {
  color: $navdead;
}

.index-nav .desktop-navbar-left a,
.index-nav .desktop-navbar-left-com{
  color: $navactive;
}



/* Hides Desktop Navbar*/
.desktop-case-navbar-container{
  display: block;
}

/*Hide Mobile Nav*/
.mobile-case-navbar-container{
  display: none;
}

}
