@media only screen 
and (min-device-width : 1000px) 
{

/*Show/Hide for Desktop*/
.desktop-navbar-container{ display: block; }
.mobile-navbar-container{ display: none; }

/* PAGE NAVBAR */

.desktop-navbar-container {
  padding-top: 25px;
  height: 40px;
  font-size: 13px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 50;
  position: absolute;
}

.desktop-navbar{
  width: 650px;
  margin: 0 auto;
  font-weight: bold;
}

.desktop-navbar-left{
  display: inline-block;
  float: left;
  padding: 10px;
}

.desktop-navbar-right{
  display: inline-block;
  float: right;
}

.desktop-navbar-container a {
  text-decoration: none;
}

.desktop-navbar-container a:visited{
  text-decoration: none;
}

.desktop-navbar-case{
  display: inline-block;
}

.desktop-navbar-list{
  margin-left: 20px;
  display: inline-block;
}

.desktop-navbar-item {
   display: inline-block;
   text-align: center;
   margin-right: 10px;
   padding: 10px;
}


/* Hides Desktop Navbar*/
.desktop-case-navbar-container{
  display: block;
}

/*Hide Mobile Nav*/
.mobile-case-navbar-container{
  display: none;
}

}
