@media only screen
and (min-device-width : 1000px) {

}


.head-contain {
	height: 700px;
	width: 100%;
	position: absolute;
}
.head-contain-clear{ height: 700px; }

.index .head-contain{ height: 500px; }
.index .head-contain-clear{ height: 500px; }

.news .head-contain{ height: 857px;}
.news .head-contain-clear{ height: 857px; }

.dashboards .head-contain{ height: 700px; }
.dashboards .head-contain-clear{ height: 700px; }

.journeys .head-contain{ height: 680px; }
.journeys .head-contain-clear{ height: 600px; }

.googleapps .head-contain{ height: 450px; }
.googleapps .head-contain-clear{ height: 450px; }


.head-top-contain{
	width: 780px;
	height: 85px;
	position: relative;
	margin: 0 auto;
	top: 120px;
	z-index: 5;
}


.h1-contain{
	position: relative;
	text-align: center;
	width: 650px;
	margin: 0 auto;
}

.googleapps .h1-contain{
	height: 100px;
}

.googleapps h1 {
	margin-left: 200px;
}

.index .head-contain h1{
	text-align: left;
}

.h2-contain{
	text-align: center;
	margin-top: -20px;
}

.h2-list{
	display: inline-block;
}

.h2-item{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: 4px;
	margin-right: 4px;
	line-height: 0.4;
	height: 27px;
	border-radius: 6px;	
}


h3 {
	width: 500px;
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

.h3-contain{
	width: 650px;
	margin: 0 auto;
}

.index-h3 h3{
	font-size: 23px;
	width: 650px;
	text-align: left;
	margin-top: -15px;
}

.index-h3-2 {
	margin-top: 180px;
}

.index-h3-2 h3{
	font-size: 18px;
	width: 650px;
	text-align: left;
	margin-bottom: 5px;
	margin-top: 0px;
}

.index-h3-3{
	margin-top: 0px;
	margin-bottom: 30px;
}

.index-h3-3 h3{
	font-size: 18px;
	width: 650px;
	text-align: left;
	margin-bottom: 5px;
	margin-top: 0px;
}


.h4-contain {
	width: 650px;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgb(200,200,200);
}

h4 {
	line-height: 1.2;
}

.h4-contain-read{
	margin-top: 10px;
	font-size: 16px;
	color: rgb(160,160,160);
}

.h5-contain{
	width: 950px;
	margin: 0 auto;
	padding-top: 55px;
	margin-bottom: -122px;
}

h6 {
	margin-top: 45px;
	margin-bottom: 25px;
}


p {
	margin-bottom: 20px;
	line-height: 1.3;
}

.page-line{
	width: 780px;
	margin: 0 auto;
	border-bottom: 1px solid rgb(210,210,210);
	height: 1px;
	margin-bottom: 50px;
}

.index-bg{
	position: relative;
	top: 175px;
	margin-top: 40px;
}

.index-bg h3{
	color: rgb(120,120,120) !important;
	font-size: 22px !important;
	margin-top: 10px !important;
	margin-bottom: 15px !important;
}

.footer-contain {
	width: 780px;
	margin: 0 auto;
	margin-top: 50px;
	border-top: 1px solid rgb(200,200,210);
	height: 250px;
	padding-top: 30px;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
	color: rgb(160,160,160);
}
.footer{
	width: 650px;
	margin: 0 auto;
}

.footer a {
	padding: 10px;
	border-radius: 5px;
	/*border: 1px solid red;*/
	text-decoration: none;
}

.footer a:hover {
	background-color: rgb(250,250,250);
	color: rgb(100,100,100) !important;
}

.footer a:visited {
	text-transform: none;
	color: rgb(160,160,160);
	text-decoration: none;
}

.footer-left{
	width: 33%;
	float: left;
	display: inline-block;
	text-align: left;
}

.footer-left a {
	color: rgb(160,160,160);
}

.footer-left a:visited {
	color: rgb(160,160,160);
}

.footer-center{
	color: rgb(80,80,80);
	width: 34%;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
}

.footer-center a,
.footer-center a:visited{
	color: rgb(80,80,80);
}

.footer-center a:hover{
	color: rgb(60,60,60) !important;
}

.footer-right{
	width: 33%;
	float: right;	
	display: inline-block;
	text-align: right;
}

.desktop-footer-CV{
	display: block;
	width: 300px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	color: rgb(81,167,249);
}

.desktop-footer-CV a {
	
}

.desktop-footer-email{
	display: block;
	width: 100%;
	margin-top: 50px;
	text-align: center;
	color: rgb(81,167,249);
}

.mobile-footer-email{
	display: none;
}

.mobile-footer-CV{
	display: none;
}

/* MOBILE */




@media only screen
and (min-device-width : 320px) 
and (max-device-width : 667px) 
and (orientation : portrait) {

.head-contain {
	height: 700px;
	width: 100%;
	position: absolute;
}
.head-contain-clear{ height: 700px; }

.index .mobile-head-contain{ height: 550px; }
/*.index .mobile-head-contain-clear { height: 550px; }*/

.news .head-contain{ height: 744px; }
.news .head-contain-clear{ height: 744px; }

.dashboards .head-contain{ height: 375px; }
.dashboards .head-contain-clear{ height: 375px; }

.journeys .head-contain{ height: 480px; }
.journeys .head-contain-clear{ height: 480px; }

.googleapps .head-contain{ height: 210px; }
.googleapps .head-contain-clear{ height: 210px; }




.head-top-contain{
	width: calc(100% - 15px);
	height: 85px;
	position: relative;
	margin: 0 auto;
	top: 60px;
	z-index: 5;
}



.h1-contain{
	position: relative;
	text-align: left;
	/*width: 300px;*/
	width: calc(100% - 15px);
	margin: 0 auto;
	top: 0px;
	/*text-align: center;*/
}

.h1-contain h1 {
	text-align: center;
	font-size: 60px;
}

.googleapps .h1-contain{
	height: 100px;
}

.googleapps h1 {
	margin-left: 150px;
}



.h2-contain{
	text-align: center;
	margin-top: -23px;
}


.googleapps .h2-contain {
	top: 0px;
}


.h2-list{
	display: inline-block;
}

.h2-item{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: 0px;
	line-height: 0.4;
	height: 24px;
	border-radius: 6px;	
}


h3 {
	width: calc(100% - 15px);
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 50px;
	font-size: 16px;
}

.index .mobile-head-contain h1 {
	text-align: left;
	margin-top: 40px;
}



.h3-contain{
	margin: 0 auto;
	width: calc(100% - 15px);
	margin-top: -10px;
}

.index .head-contain h3 {
	margin-top: 0px;
	font-size: 24px;
}

.index h3 {
	text-align: left;
}


h4 {
	margin-bottom: 30px;
	margin-top: 60px;
}

h5 { display: none; }
.h5-contain { display: none; }

p {
	margin-bottom: 20px;
}


.footer-contain {
	width: calc(100% - 15px);
	margin: 0 auto;
	margin-top: 100px;
	border-top: 1px solid rgb(200,200,210);
	height: 220px;
	padding-top: 30px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	color: rgb(160,160,160);
}
.footer{
	width: calc(100% - 15px);
	margin: 0 auto;
}

.footer a {
	padding: 0px;
	margin: 0px;
	width: 160px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
}

.footer a:visited {
	text-transform: none;
	color: rgb(160,160,160) !important;
	text-decoration: none;
}

.footer-left{
	display: none;
	width: 0%;
}

.footer-center{
	color: rgb(80,80,80);
	width: 48%;
	margin: 0;
	display: inline-block;
	text-align: left;
}

.footer-center a {
	padding-right: 40px;
}

.footer-center a,
.footer-center a:visited{
	color: rgb(80,80,80);
}

.footer-center a:hover{
	color: rgb(60,60,60) !important;
}

.footer-right{
	width: 48%;
	float: right;
}

.desktop-footer-email{
	display: none;
}

.desktop-footer-CV{
	display: none;
}

.mobile-footer-CV{
	display: block;
	width: 100%;
	margin-top: 30px;
	height: 50px;
	line-height: 3.5;
	border-radius: 5px;
}

.mobile-footer-email{
	display: block;
	width: 100%;
	margin-top: 10px;
	height: 50px;
	line-height: 3.5;
	border-radius: 5px;
}

.mobile-footer-button {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-color: rgba(81,167,249,0.1);
	text-align: center !important;
	color: rgb(81,167,249);
}

.mobile-footer-email a:visited {
	color: rgb(81,167,249);
	text-decoration: none;
}

.carousel-contain{
	display: none;
}

}

@media only screen
and (min-device-width : 240px) 
and (max-device-width : 320px) 
and (orientation : portrait) {

.index .mobile-head-contain{ height: 610px; }
}