@media only screen
and (min-device-width : 1000px) {




.head-contain {
	height: 700px;
	width: 100%;
	position: absolute;
}
.head-contain-clear{ height: 700px; }

.index .head-contain{ height: 500px; }
.index .head-contain-clear{ height: 500px; }

.news .head-contain{ height: 857px;}
.news .head-contain-clear{ height: 857px; }

.dashboards .head-contain{ height: 700px; }
.dashboards .head-contain-clear{ height: 700px; }

.journeys .head-contain{ height: 680px; }
.journeys .head-contain-clear{ height: 600px; }

.googleapps .head-contain{ height: 450px; }
.googleapps .head-contain-clear{ height: 450px; }


.head-top-contain{
	width: 780px;
	height: 85px;
	position: relative;
	margin: 0 auto;
	top: 120px;
	z-index: 5;
}


.h1-contain{
	position: relative;
	text-align: center;
	width: 650px;
	margin: 0 auto;
}

.googleapps .h1-contain{
	height: 100px;
}

.googleapps h1 {
	margin-left: 200px;
}

.index .head-contain h1{
	text-align: left;
}

.h2-contain{
	text-align: center;
	margin-top: -20px;
}

.h2-list{
	display: inline-block;
}

.h2-item{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: 4px;
	margin-right: 4px;
	line-height: 0.4;
	height: 27px;
	border-radius: 6px;	
}


h3 {
	width: 500px;
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

.h3-contain{
	width: 650px;
	margin: 0 auto;
}

.index-h3 h3{
	font-size: 23px;
	width: 650px;
	text-align: left;
	margin-top: -15px;
}

.index-h3-2 {
	margin-top: 180px;
}

.index-h3-2 h3{
	font-size: 18px;
	width: 650px;
	text-align: left;
	margin-bottom: 5px;
	margin-top: 0px;
}

.index-h3-3{
	margin-top: 0px;
	margin-bottom: 30px;
}

.index-h3-3 h3{
	font-size: 18px;
	width: 650px;
	text-align: left;
	margin-bottom: 5px;
	margin-top: 0px;
}


.h4-contain {
	width: 650px;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgb(200,200,200);
}

h4 {
	line-height: 1.2;
}

.h4-contain-read{
	margin-top: 10px;
	font-size: 16px;
	color: rgb(160,160,160);
}

.h5-contain{
	width: 950px;
	margin: 0 auto;
	padding-top: 55px;
	margin-bottom: -122px;
}

h6 {
	margin-top: 45px;
	margin-bottom: 25px;
}


p {
	margin-bottom: 20px;
	line-height: 1.3;
}

.page-line{
	width: 780px;
	margin: 0 auto;
	border-bottom: 1px solid rgb(210,210,210);
	height: 1px;
	margin-bottom: 50px;
}

.index-bg{
	position: relative;
	top: 175px;
	margin-top: 40px;
}

.index-bg h3{
	color: rgb(120,120,120) !important;
	font-size: 22px !important;
	margin-top: 10px !important;
	margin-bottom: 15px !important;
}

/* FOOTER */

.desktop-footer-contain {
	width: 780px;
	margin: 0 auto;
	margin-top: 50px;
	border-top: 1px solid rgb(200,200,210);
	height: 250px;
	padding-top: 30px;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
	color: rgb(160,160,160);
}
.footer{
	width: 650px;
	margin: 0 auto;
}
.footer-bar{
	height: 40px;
	line-height: 2.6;
	border-bottom: 1px solid rgb(240,240,240);
}
.footer-bar-top{
	display: inline-block;
}
.footer-bar-left{
	width: 50%;
	height: 100%;
	padding-left: 10px;
}

.footer-bar-right{
	width: 45%;
	height: 100%;
	float: right;
	text-align: right;
	padding-right: 10px;
}

.footer a {
	text-decoration: none;
}

.footer a:visited {
	text-transform: none;
	color: rgb(160,160,160);
	text-decoration: none;
}



.footer-bar-left:hover {
	background-color: rgb(250,250,250);
	color: rgb(100,100,100) !important;
}

.footer-bar-right{
	color: rgb(81,167,249);
}

.footer-bar-right:hover {
	background-color: rgba(81,167,249,0.05);
	color: rgb(54,140,229) !important;
}

.footer-bar-top-left{
	color: rgb(100,100,100);	
}


.footer-bar-email {
	border-bottom: none;
}

.footer-bar-email .footer-bar-left:hover{
	background-color: rgb(255,255,255) !important;
	color: rgb(160,160,160) !important;
}

.googleapps #desktop-footer-next-link{
	display: none;
}

.mobile-footer-contain{
	display: none;
}

}



/* MOBILE */




@media only screen
and (min-device-width : 320px) 
and (max-device-width : 667px) 
and (orientation : portrait) {

.head-contain {
	height: 700px;
	width: 100%;
	position: absolute;
}
.head-contain-clear{ height: 700px; }

.index .mobile-head-contain{ height: 500px; }
/*.index .mobile-head-contain-clear { height: 550px; }*/

.news .head-contain{ height: 744px; }
.news .head-contain-clear{ height: 744px; }

.dashboards .head-contain{ height: 530px; }
.dashboards .head-contain-clear{ height: 530px; }

.journeys .head-contain{ height: 480px; }
.journeys .head-contain-clear{ height: 480px; }

.googleapps .head-contain{ height: 410px; }
.googleapps .head-contain-clear{ height: 410px; }




.head-top-contain{
	width: calc(100% - 15px);
	height: 85px;
	position: relative;
	margin: 0 auto;
	top: 60px;
	z-index: 5;
}



.h1-contain{
	position: relative;
	text-align: left;
	/*width: 300px;*/
	width: calc(100% - 15px);
	margin: 0 auto;
	top: 0px;
	/*text-align: center;*/
}

.h1-contain h1 {
	text-align: center;
	font-size: 60px;
}

.googleapps .h1-contain{
	height: 100px;
}

.googleapps h1 {
	margin-left: 185px;
}



.h2-contain{
	text-align: center;
	margin-top: -23px;
}

.googleapps .h2-contain{
	margin-top: -2px;
}


.h2-list{
	display: inline-block;
}

.h2-item{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: 0px;
	line-height: 0.4;
	height: 24px;
	border-radius: 6px;	
}


h3 {
	width: calc(100% - 15px);
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 50px;
	font-size: 16px;
}

.index .mobile-head-contain h1 {
	text-align: left;
	margin-top: 40px;
}

.index-h3 h3{
	margin-top: 0px;
	margin-bottom: 5px !important;
}


.index-h3-2 {
	margin-top: 180px;
}




.h3-contain{
	margin: 0 auto;
	width: calc(100% - 15px);
	margin-top: -10px;
}

.index .head-contain h3 {
	margin-top: 0px;
	font-size: 24px;
}

.index h3 {
	text-align: left;
}


h4 {
	margin-bottom: 30px;
	margin-top: 60px;
}

.h4-contain {
	width: calc(100% - 30px);
	margin: 0 auto;
	border-bottom: 1px solid rgb(200,200,200);
	margin-bottom: 30px;
}

h4 {
	margin: none;
	width: 100%;
}

.h4-contain-read {
	margin: 0 auto;
	margin-top: -15px;
	margin-bottom: 10px;
	color: rgb(160,160,160);
}

h5 { display: none; }
.h5-contain { display: none; }


h6 {
	width: calc(100% - 30px);
}

p {
	margin-bottom: 20px;
}


.desktop-footer-contain{
	display: none;
}


.mobile-footer-contain{
	display: block;
	border-top: 0.5px solid rgba(81,167,249,0.5);
	width: 100%;
	margin-top: 40px;
}

.footer-bar{
	text-align: center;
	height: 50px;
	border-bottom: 0.5px solid rgba(81,167,249,0.5);
	background-color: rgba(81,167,249,0.01);
	text-transform: uppercase;
	font-weight: 500;
	color: rgb(54,140,229);
	line-height: 3.5;
	font-size: 14px;
}

.footer-bar a {
	text-decoration: none;
	color: rgb(54,140,229) !important;
}

.footer-bar a:visited {
	text-decoration: none;
	color: rgb(54,140,229) !important;
}

.googleapps .footer-bar-next{
	display: none;
}






.carousel-contain{
	display: none;
}

}

@media only screen
and (min-device-width : 240px) 
and (max-device-width : 320px) 
and (orientation : portrait) {

.index .mobile-head-contain{ height: 610px; }
}