@font-face{
	font-family: pn;
	src: url('PNR.otf');
}

@font-face {
    font-family: pn;
    src: url("PNB.otf");
    font-weight: bold;
}

.mobile-navbar-container{
	display: none;
}

.global{
	font-family: pn;
	-webkit-font-smoothing: antialiased;
}

.navbar-container{
	width: 100%;
	/*background-color: rgb(250,250,252);*/
	position: fixed;
	left: 0;
	top: 0;
}

.testblock{
	background-color: red;
	height: 1000px;
}

.navbar {
	height: 100px;
	width: 80%;
	font-size: 14px;
	margin: 0 auto;
}

.topnavbar{
	display: inline-block;
	margin-top: 50px;
	font-size: 16px;
}

.topnavbar a {
	text-decoration: none;
	color: rgb(255,255,255);
}

.topnavbar-jasper{
	display: inline-block;
	width: 175px;
	margin-left: 70px;
	/*background-color: blue;*/
}


.topnavbar-portfolio{
	display: inline-block;
	width: 625px;
	font-weight: bold;
	/*background-color: green;*/
}

.navbar-item {
	 display: inline-block;
	 width: auto;
	 height: 35px;
	 padding-top: 15px;
	 /*border: 1px solid rgb(200,200,200);*/
	 text-align: center;
	 margin-right: 30px;
}

.navbar-item a {
	 text-decoration: none;
	 color: rgb(255,255,255);
	 font-size: 14px;
	 font-weight: normal;
}

.navbar-item-news a {
	font-weight: bold;
}


.topnavbar-jasper .navbar-item a{
	color: rgba(0,0,0,0);
}


.abc {
	color: red;
}

.newscontainer{
	margin-top: -100px;
	width: 100%;
	height: 1000px;
	background: -moz-linear-gradient(90deg, rgba(81,167,249,1) 0%, rgba(3,101,192,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(3,101,192,1)), color-stop(100%, rgba(81,167,249,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(81,167,249,1) 0%, rgba(3,101,192,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(81,167,249,1) 0%, rgba(3,101,192,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(81,167,249,1) 0%, rgba(3,101,192,1) 100%); /* ie10+ */
	background: linear-gradient(0deg, rgba(81,167,249,1) 0%, rgba(3,101,192,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0365C0', endColorstr='#51A7F9',GradientType=0 ); /* ie6-9 */
}

.newsh1{ 
	padding-top: 300px;
	padding-left: 70px;
	font-size: 32px;
	font-weight: bold;
	color: white;
}

.newsh2{ 
	margin-top: 15px;
	font-size: 16px;
	color: white;
	padding-left: 70px;
}

.newsh3{ 
	margin-top: 30px;
	font-size: 16px;
	color: white;
	padding-left: 70px;
	line-height: 1.2;
	width: 600px;
}