@media only screen
and (min-device-width : 320px) 
and (max-device-width : 667px) 
and (orientation : portrait) {

.index .head-contain{
  display: none;
}

.index .head-contain-clear{
  display: none;
}

.index .mobile-head-contain{
  display: block;
}

.index .mobile-head-contain-clear{
  display: block;
}

/**/

.news-bg{
  width: 100%;
  height: 389px;
  margin: 0 auto;
  position: relative;
  top: 230px;
}

.news-bg-center{
  width: calc(100% - 15px);
  height: 389px;
  width: 100%;
  margin: 0 auto;
  background-image: url(http://dn27tkn48vqxi.cloudfront.net/static/news-bg.png);
  background-repeat: no-repeat;
  background-position: center 0px;
  background-size: 810px 389px;
}

/* JOURNEYS */

.particle-canvas-container{
  width: 100%;
  height: 480px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

#particle-canvas{
  width: 100%;
  height: 100%;
}

/* INDEX HEAD STUFF */

.index .mobile-head-contain .h1-contain{
  font-size: 60px;
  width: calc(100% - 15px);
  text-align: left;
  margin-bottom: 55px;
}

.index .mobile-head-contain h1 {
  font-size: 60px;
  width: calc(100% - 30px);
  text-align: left;
  margin-bottom: 55px;
}
 
.index .mobile-head-contain .index-h3 {
  width: calc(100% - 15px);
  text-align: left;
}

.index .mobile-head-contain .index-h3 h3 {
  width: calc(100% - 15px);
  text-align: left;
  font-size: 20px;
  margin-bottom: 20px;
}

.index .mobile-head-contain .index-h3-2 {
  width: calc(100% - 15px);
  text-align: left;
}

.index .mobile-head-contain .index-h3-2 h3 {
  width: calc(100% - 30px);
  margin: 0 auto;
  text-align: left;
  font-size: 17px;
  margin-bottom: 10px;
}

.index .mobile-head-contain .page-line {
  margin-top: 30px;
  margin-bottom: 30px;
  width: calc(100% - 30px);
}

.index .mobile-head-contain .index-h3-3 {
  width: calc(100% - 15px);
  text-align: left;
}

.index .mobile-head-contain .index-h3-3 h3 {
  width: calc(100% - 30px);
  text-align: left;
  font-size: 17px;
  margin-bottom: 20px;
}

/* INDEX NAV STUFF */
.index-nav-contain {
  height: 190px;
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: -1px;
}

.index-nav-block{
  width: calc(100% - 30px);
  margin: 0 auto;
}

.index-nav-text{
  width: 250px;
  max-width: 400px;
}

.index .index-nav-contain h1 {
  font-size: 32px;
  padding-top: 0px;
  margin-bottom: 10px;
}

.index-nav-contain h1 a{
  color: rgb(81,167,249);
  text-decoration: none;
  box-shadow: inset 0 -2px 0 white, inset 0 -3px 0 rgb(81,167,249);
}

.index-nav-contain h1 a:hover{
  color: rgb(0,126,255);
  text-decoration: none;
  box-shadow: inset 0 -2px 0 white, inset 0 -3px 0 rgb(0,126,255);
}

.index-nav-contain h3 {
  font-size: 16px;
  margin-left: 0px;
  margin-bottom: 20px;
  margin-top: 0px;
  line-height: 1.25;
  text-align: left;
}

.index-nav-h2-list{
  display: none;
}

/* INDEX NAV BG */



.index-nav-news-bg{
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(http://dn27tkn48vqxi.cloudfront.net/static/index-nav-news-bg.png);
  background-repeat: no-repeat;
  background-position: 280px 40px;
  background-size: 61px 89px;
}


.index-nav-dashboards-bg{
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(http://dn27tkn48vqxi.cloudfront.net/static/index-nav-dashboards-bg.png);
  background-repeat: no-repeat;
  background-position: 280px 40px;
  background-size: 78px 91px;
}

.index-nav-journeys-bg{
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(http://dn27tkn48vqxi.cloudfront.net/static/index-nav-journeys-bg.png);
  background-repeat: no-repeat;
  background-position: 275px 40px;
  background-size: 75px 71px;
}

.index-nav-googleapps-bg{
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(http://dn27tkn48vqxi.cloudfront.net/static/index-nav-googleapps-bg.png);
  background-repeat: no-repeat;
  background-position: 255px 40px;
  background-size: 103px 61px;
}




/*DASHBOARDS*/

.dashboards-bg{
  width: 100%;
  height: 473px;
  margin: 0 auto;
  position: relative;
  top: -180px;
  
  background-image: url(dashboards-bg.png);
  background-position: center center;
  background-size: 822px 236px;
  background-repeat: no-repeat;
}

.dashboards .h1-contain h1{
  padding-top: 170px;
}




.googleapps .h1-contain {
  background-size: 140px 46px;
  background-repeat: no-repeat;
  background-position: 0px 10px;
}

.youtube{
  display: none;
}

/*
  * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
  }*/

}

@media only screen
and (min-device-width : 240px) 
and (max-device-width : 320px) 
and (orientation : portrait) {

.index-nav-contain {
  height: 170px;
}

.index-nav-text{
  width: 100%;
}
.index-nav-news-bg{
    background-image: none;
  }
.index-nav-dashboards-bg{
    background-image: none;
}
.index-nav-journeys-bg{
    background-image: none;
}
.index-nav-googleapps-bg{
    background-image: none;
}
}

@media only screen
and (min-device-width : 320px) 
and (max-device-width : 667px) 
and (orientation : portrait) {

}