@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 667px) 
and (orientation : portrait) {

/* Hides Desktop Navbar*/
.desktop-navbar-container{
  display: none;
}

/*Hide Mobile Nav*/
.mobile-navbar-container{
  display: block;
}

/* MOBILE NAV */

.mobile-navbar-container{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
}

.mobile-navbar-header{
  background-color: rgb(250,250,250);
  height: 54px;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@supports (-webkit-backdrop-filter: blur()){
   .mobile-navbar-header {
    -webkit-backdrop-filter: blur(50px) saturate(500%);
    background-color: rgba(255,255,255,0.7);
  }
}


.mobile-navbar-header-border{
  height: 0.5px;
  background-color: rgb(180,180,200);
  opacity: 1;
}

/*
.fade-border{
  opacity: 1;
  transition: opacity 100ms;
  -webkit-transition: opacity: 100ms;
}
*/
.mobile-navbar-nav-open{
  width: 100%;
  height: 100%;
  /*background-color: green;*/
}

.mobile-navbar-left{
  display: inline-block;
  float: left;
  padding: 20px;
}

.mobile-navbar-name{
  display: inline-block;  
  font-weight: bold;
  color: rgb(60,60,80);
}

.mobile-navbar-right{
  display: inline-block;
  float: right;
  margin-right: -6px;
  width: auto;
  padding: 20px;  
}

.mobile-navbar-section{
  display: inline-block;
  text-align: right;
  font-weight: bold;
  font-size: 13px;
  margin-right: -5px;
}

.mobile-navbar-nav{
  display: inline-block;
  text-align: right;
  width: 40px;
}


/*MOBILE DROPDOWN*/


.mobile-navbar-dropdown{
}

.mobile-navbar-dropdown-close{
  text-align: right;
  display: inline-block;
}

.mobile-navbar-dropdown-list{
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(250,250,250);
  border-bottom: (180,180,200);
}

@supports (-webkit-backdrop-filter: blur()){
   .mobile-navbar-dropdown-list {
    -webkit-backdrop-filter: blur(50px) saturate(500%);
    background-color: rgba(255,255,255,0.7);
  }
}

.mobile-navbar-dropdown-headspace{
  height: 50px;
}

.mobile-navbar-dropdown-item{
  height: 44px;
  width: 100%;
  color: rgb(40,40,50);
  margin-left: 20px;
  margin-right: 20px;
}

.mobile-navbar-dropdown-item-link{
  -webkit-tap-highlight-color: rgb(250,250,255);
  display: block;
  width: 100%;
  height: 44px;
  opacity: none;
  border-bottom: 0.5px solid rgba(160,160,170,0.3);
}

.mobile-navbar-dropdown-item-link-last {
  border-bottom: none;
}

.mobile-navbar-dropdown-item a {
  opacity: 0;
  line-height: 2.9;
  text-decoration: none;
  color: rgb(40,40,50);
}

.mobile-navbar-dropdown-item a:visited {
  color: rgb(40,40,50);
}

.mobile-navbar-dropdown-item a:active {
  background-color: green;
}


.navbar-dropdown-item-bold{
  font-weight: bold !important;
}

.navbar-dropdown-item-regular{
  font-weight: normal;
}


/* MOBILE NAV HIDE */



.navbar-open {
  height: 100%;
}

.navbar-close {
  height: 100%;
}

.navbar-close .mobile-navbar-dropdown-list {
  height: 0px;
}


.navbar-open .mobile-navbar-header{
  border: none;
}

.navbar-close .mobile-navbar-name{
  opacity: 1;
}

.navbar-open .mobile-navbar-name{
  opacity: 0.75;
}

.navbar-close .mobile-navbar-section{
  opacity: 0.75;
}

.navbar-open .mobile-navbar-section{
  opacity: 1;
}

.navbar-close .mobile-navbar-dropdown-item {
  visibility: hidden;
  transform: translate(0,-10px);
  -webkit-transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
}

.navbar-close .mobile-navbar-dropdown-item a {
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.navbar-open .mobile-navbar-dropdown-list {
  height: 100%;
  -webkit-transition: height 300ms ease-in;
  transition: height 300ms ease-in;
}

.navbar-open .mobile-navbar-dropdown-item {
  visibility: visible;

  transform: translate(0,10px);
  -webkit-transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
}

.navbar-open .mobile-navbar-dropdown-item a {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;

}

.navbar-close #mobile-navbar-dropdown-item-1 a{
  transition-delay: opacity 20ms;
}

.navbar-open #mobile-navbar-dropdown-item-2 a{
  transition-delay: 40ms;
}

.navbar-open #mobile-navbar-dropdown-item-3 a{
  transition-delay: 60ms;
}

.navbar-open #mobile-navbar-dropdown-item-4 a{
  transition-delay: 80ms;
}

.navbar-open #mobile-navbar-dropdown-item-5 a{
  transition-delay: 100ms;
}

.navbar-open #mobile-navbar-dropdown-item-6 a{
  transition-delay: 120ms;
}

.navbar-close #mobile-navbar-dropdown-item-1 {
  transition-delay: opacity 20ms;
}

.navbar-open #mobile-navbar-dropdown-item-2 {
  transition-delay: 40ms;
}

.navbar-open #mobile-navbar-dropdown-item-3 {
  transition-delay: 60ms;
}

.navbar-open #mobile-navbar-dropdown-item-4 {
  transition-delay: 80ms;
}

.navbar-open #mobile-navbar-dropdown-item-5 {
  transition-delay: 100ms;
}

.navbar-open #mobile-navbar-dropdown-item-6 {
  transition-delay: 120ms;
}


/* HAM BURGER */

.hamburger {
  cursor: pointer;
  position: absolute;
  width: 48px;
  height: 48px;
  transition: all 0.25s;
  margin-left: 0px;
  margin-top: -28px;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  width: 21px;
  height: 1px;
  background: rgb(50,50,50);
  transform: rotate(0);
  transition: all 0.25s ease-in-out;
}

.hamburger:hover [class*="-bun"] {
  background: rgb(40,40,40);
}

.hamburger__top-bun {
  top: 23px;
  transform: translateY(-3px)

}

.hamburger__bottom-bun {
  bottom: 23px;
  transform: translateY(3px);
}

.hamburger-open {
  transform: rotate(90deg);
}

.hamburger-open .hamburger__top-bun {
  transform: 
    rotate(45deg) 
    translateY(0px);
}

.hamburger-open .hamburger__bottom-bun {
  transform: 
    rotate(-45deg) 
    translateY(0px);
} 



/* GLOBAL STYLES  */



}
