@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 667px) 
and (orientation : portrait) {

/* Hides Desktop Navbar*/
.desktop-navbar-container{
  display: none;
}

/*Hide Mobile Nav*/
.mobile-navbar-container{
  display: block;
  position: fixed;
  top: 0px;
  min-height: 54px;
}

.navbar-open{
  position: fixed;
  top: 0px;
  bottom: 0px;
}

.navbar-close{
  bottom: none; 
}

/* MOBILE NAV */

.mobile-navbar-container{
  width: 100%;
  overflow-x: hidden;
  position: fixed;
  z-index: 350;
}

.mobile-navbar-header{
  position: absolute;
  top: 0;
  left: 0;  
  height: 54px;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0.1);
  margin-bottom: -54px;
  z-index: 250;
  
}
/*
@supports (-webkit-backdrop-filter: blur()){
   .mobile-navbar-header {
    -webkit-backdrop-filter: blur(50px) saturate(300%);
    background-color: rgba(255,255,255,0.95);
  }
}*/

/*
.fade-border{
  opacity: 1;
  transition: opacity 100ms;
  -webkit-transition: opacity: 100ms;
}
*/
.mobile-navbar-nav-open{
  width: 100%;
  height: 54px;
}

.mobile-navbar-left{
  display: inline-block;
  float: left;
  padding: 20px;
}

.mobile-navbar-name{
  display: inline-block;  
  font-weight: 500;
  font-size: 13.5px;
  letter-spacing: 0.03em;

}

.mobile-navbar-right{
  display: inline-block;
  float: right;
  width: auto;
  padding: 20px;
}

.mobile-navbar-nav{
  display: inline-block;
  text-align: right;
  width: 40px;
}


/*MOBILE DROPDOWN*/

/*@supports (-webkit-backdrop-filter: blur()){
   .mobile-navbar-dropdown-list {
    -webkit-backdrop-filter: blur(50px) saturate(500%);
    background-color: rgba(255,255,255,0.7);
  }
}*/

.mobile-navbar-dropdown{

}

.mobile-navbar-dropdown-list{
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.mobile-navbar-dropdown-item{
  height: 44px;
  width: 100%;
  border-bottom: 0.5px solid rgb(200,200,200);
  text-align: left;
}

.mobile-navbar-dropdown-item-link{
  -webkit-tap-highlight-color: rgba(0,0,0,0.1);
  display: block;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  margin-top: -15;
  height: auto;
  opacity: none;
}

.mobile-navbar-dropdown-head a {
  opacity: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  padding-left: 20px;
  padding-top: 20px;
  top: 0px;
  left: 0px;
  height: 34px;
  width: 100%;
  color: rgb(68,160,255);
  font-size: 12px;
  font-weight: 500;
  background-color: rgb(255,255,255);
  border-bottom: 0.5px solid rgb(170,170,170);
  text-decoration: none;
  text-align: left;
  /*background-color: green;*/
}

.mobile-navbar-dropdown-head a:visited{
  text-decoration: none;
  color: rgb(68,160,255);
}

.mobile-navbar-dropdown-foot {
  opacity: 1;
  position: fixed;
  left: 0px;
  bottom: 20px;
  right: 0px;
  height: 54px;
  color: rgb(68,160,255);
  font-size: 12px !important;
  font-weight: 500;
  background-color: rgb(255,255,255);
  border-top: 0.5px solid rgb(170,170,170);
  text-decoration: none;
  text-align: center;
  background-color: rgb(255,255,255);
}

.mobile-navbar-dropdown-foot a {
  position: relative;
  top: 8px;
  font-size: 12px !important;
  color: rgb(68,160,255) !important;
}

.mobile-navbar-dropdown-foot a:visited{
  text-decoration: none;
  color: rgb(68,160,255) !important;
}

.mobile-navbar-dropdown-item-jasperfix{
  margin-left: -122px !important;
}

.mobile-navbar-dropdown-item-workfix{
  margin-left: 10px !important;
}

.mobile-navbar-dropdown-item a {
  opacity: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 3.2;
  text-decoration: none;
  color: rgb(120,120,120);
}

.mobile-navbar-dropdown-item a:visited {
  color: rgb(120,120,120);
}

.mobile-navbar-dropdown-item a:active {
  /*background-color: green;*/
}

.mobile-navbar-dropdown-item-link-work-link-expand{
  height: 100%;
  width: calc(100% - 20px);
  padding-left: 10px;
}

.mobile-navbar-dropdown-item-link-work {
  line-height: 2.9;
  font-size: 14px;
}

.mobile-navbar-dropdown-item-link-work{
  font-weight: 500;
  color: rgb(150,150,150);
  /*-webkit-tap-highlight-color: rgba(255,255,255,0);*/
}

.mobile-navbar-dropdown-item-link-work-link{
 
}

/*.navbar-dropdown-item-bold{
  font-weight: 500 !important;
}

.navbar-dropdown-item-regular{
  font-weight: normal;
}*/


/* MOBILE NAV HIDE */


.navbar-close .mobile-navbar-header {
  height: 54px;
}

.navbar-open .mobile-navbar-header {
  width: 100%;
  background: rgba(250,250,250,1);
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow-y: hidden !important;
  height: 100% !important;
}

.navbar-open .mobile-navbar-name{
  opacity: 0;
}

.navbar-open .mobile-navbar-name{
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}


.navbar-close .mobile-navbar-dropdown-item {
  visibility: hidden;
  transform: translate(0,0px);
  -webkit-transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
}

.navbar-close .mobile-navbar-dropdown-head a {
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.navbar-close .mobile-navbar-dropdown-foot a {
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.navbar-close .mobile-navbar-dropdown-item a {
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.navbar-open .mobile-navbar-header {
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.navbar-open .mobile-navbar-dropdown-item {
  visibility: visible;
  transform: translate(0,20px);
  -webkit-transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
}

.navbar-open .mobile-navbar-dropdown-head a {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.navbar-open .mobile-navbar-dropdown-foot a {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.navbar-open .mobile-navbar-dropdown-item a {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.navbar-close #mobile-navbar-dropdown-item-1 a{
  transition-delay: opacity 20ms;
}

.navbar-open #mobile-navbar-dropdown-item-2 a{
  transition-delay: 40ms;
}

.navbar-open #mobile-navbar-dropdown-item-3 a{
  transition-delay: 60ms;
}

.navbar-open #mobile-navbar-dropdown-item-4 a{
  transition-delay: 80ms;
}

.navbar-open #mobile-navbar-dropdown-item-5 a{
  transition-delay: 100ms;
}

.navbar-open #mobile-navbar-dropdown-item-6 a{
  transition-delay: 120ms;
}

.navbar-close #mobile-navbar-dropdown-item-1 {
  transition-delay: opacity 20ms;
}

.navbar-open #mobile-navbar-dropdown-item-2 {
  transition-delay: 40ms;
}

.navbar-open #mobile-navbar-dropdown-item-3 {
  transition-delay: 60ms;
}

.navbar-open #mobile-navbar-dropdown-item-4 {
  transition-delay: 80ms;
}

.navbar-open #mobile-navbar-dropdown-item-5 {
  transition-delay: 100ms;
}

.navbar-open #mobile-navbar-dropdown-item-6 {
  transition-delay: 120ms;
}


/* HAM BURGER */

.hamburger {
  cursor: pointer;
  position: absolute;
  width: 48px;
  height: 48px;
  transition: all 0.25s;
  margin-left: 0px;
  margin-top: -16px;
  z-index: 10;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  width: 21px;
  height: 1px;
  transform: rotate(0);
  transition: all 0.25s ease-in-out;
}


.hamburger__top-bun {
  top: 23px;
  transform: translateY(-3px)

}

.hamburger__bottom-bun {
  bottom: 23px;
  transform: translateY(3px);
}

.hamburger-open {
  transform: rotate(90deg);
}

.hamburger-open .hamburger__top-bun {
  transform: 
    rotate(45deg) 
    translateY(0px);
  background: rgb(0,0,0);
}

.hamburger-open .hamburger__bottom-bun {
  transform: 
    rotate(-45deg) 
    translateY(0px);
  background: rgb(0,0,0);
} 


 /*PAGE SPECIFIC STYLING*/

/*.index-nav .mobile-navbar-name { color: rgb(70,70,70);}
.index-nav .hamburger__top-bun, .index-nav .hamburger__bottom-bun {background: rgb(0,0,0)};

.things-nav .mobile-navbar-name { color: rgb(70,70,70);}
.things-nav .hamburger__top-bun, .things-nav .hamburger__bottom-bun {background: rgb(0,0,0)};

.news-nav .mobile-navbar-name { color: white;}
.news-nav .hamburger__top-bun, .news-nav .hamburger__bottom-bun {background: white};

.dashboards-nav .mobile-navbar-name { color: rgb(70,70,70);}
.dashboards-nav .hamburger__top-bun, .dashboards-nav .hamburger__bottom-bun {background: rgb(0,0,0)};

.journeys-nav .mobile-navbar-name { color: white;}
.journeys-nav .hamburger__top-bun, .journeys-nav .hamburger__bottom-bun {background: white};

.googleapps-nav .mobile-navbar-name { color: rgb(70,70,70);}
.googleapps-nav .hamburger__top-bun, .googleapps-nav .hamburger__bottom-bun {background: rgb(0,0,0)};
*/










/*CASE NAVBAR DROPDOWN*/


/*.mobile-case-navbar-container {
  width: 100%;
  height: 44px;
  background-color: rgb(250,250,250);
  border-bottom: 1px solid rgb(220,220,220);
  font-size: 14px;
}

.mobile-case-navbar-stick {
  position: fixed;
  top: 0px;
  left: 0px;
}


.mobile-case-navbar-header{
  display: inline-block;
  margin-top: 16px;
  padding-left: 10px;
}

.mobile-case-navbar-name{
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
}

.mobile-case-navbar-section{
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: rgb(160,160,160);
}*/

/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/

}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {

.mobile-navbar-container{
  min-height: 58px;
}

.mobile-navbar-header{
  height: 58px;
  margin-bottom: -58px;
}

.mobile-navbar-dropdown-item-link{
  margin-top: -21px;
}

.mobile-navbar-dropdown-head a{
  height: 38px;
  font-size: 14px;
  line-height: 1.4;
}

.mobile-navbar-nav-open{
  height: 58px;
}

.mobile-navbar-dropdown-item{
  height: 60px;
}

.mobile-navbar-dropdown-item a {
  line-height: 4.0;
  font-size: 15px;
}

.mobile-navbar-dropdown-item-link-work {
  line-height: 4.0;
  font-size: 15px;
}

.mobile-navbar-dropdown-foot {
  height: 58px;
  bottom: 20px;
}

.mobile-navbar-dropdown-foot a {
  font-size: 14px !important;
  line-height: 3.2;
}

.mobile-navbar-name{
  font-size: 14px;
  line-height: 1.4;
}

.hamburger{
  margin-top: -15px;
}

.navbar-close .mobile-navbar-header {
  height: 58px;
}

}