@media only screen
and (min-device-width : 320px) 
and (max-device-width : 667px) 
and (orientation : portrait) {


.news-bg{
  width: calc(100% - 15px);
  height: 375px;
  margin: 0 auto;
  position: relative;
  top: 150px;
}

.news-bg-center{
  width: calc(100% - 15px);
  height: 375px;
  width: 256px;
  margin: 0 auto;
  background-image: url(http://dn27tkn48vqxi.cloudfront.net/static/news-bg-mobile.png);
  background-repeat: no-repeat;
  background-position: 0px -1px;
  background-size: auto 100%;
}

/* JOURNEYS */

.particle-canvas-container{
  width: 100%;
  height: 480px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

#particle-canvas{
  width: 100%;
  height: 100%;
}

/* INDEX HEAD STUFF */

.index .h3-contain{
  margin-top: 20px;
}


/* INDEX NAV STUFF */
.index-nav-contain {
  height: auto;
  width: 100%;
  padding-bottom: 15px;
  border-top: 1px solid rgb(200,200,200);
  border-bottom: 1px solid rgb(200,200,200);
  margin-bottom: -1px;
}

.index-nav-block{
  width: calc(100% - 30px);
  margin: 0 auto;
}

.index-nav-text{
  width: auto;
  max-width: 500px;
}

.index .index-nav-contain h1 {
  font-size: 22px;
  padding-top: 30px;
 
}

.index-nav-contain h3 {
  font-size: 16px;
  margin-left: 0px;
  margin-bottom: 20px;
  margin-top: 15px;
   text-align: left;
}

.index-nav-contain .h2-contain {
  /*display: none;*/
  width: auto;
  display: block;
  position: static;
  margin-top: 5px;
  top: 0px;
}

.index-nav-button-contain{
  margin-top: 55px;
  height: 55px;
  position: static;
  display: block;
  width: calc(100%+30px);
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  -webkit-tap-highlight-color: rgba(68,160,255,0.2) !important;
}

.index-nav-button-contain a{
  text-decoration: none;
  color: rgb(68,160,255);
  font-size: 17px;
  font-weight: bold;
}

.index-nav-button-contain a:visited{
  text-decoration: none;
  color: rgb(68,160,255);
  
}

.index-nav-button{
  width: 100%;
  height: 100%;
  line-height: 3.0;
}

/*INDEX HEAD BG*/

.index-head-bg-contain{
  width: calc(100% - 30px);
  margin: 0 auto;
  position: relative;
  top: 140px;
  height: auto;
}

.index-head-bg-part{
  height: 25px;
  width: 100%;
  margin-bottom: 10px;
}

.index-head-bg-block{
  height: 2px;
  border-radius: 3px;
}

.index-head-bg-text{
  width: 100%;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: bold;
}

/*DASHBOARDS*/

.dashboards-bg{
  width: 100%;
  height: 473px;
  margin: 0 auto;
  position: relative;
  top: -180px;
  
  background-image: url(dashboards-bg.png);
  background-position: center center;
  background-size: 822px 236px;
  background-repeat: no-repeat;
}

.dashboards .h1-contain h1{
  padding-top: 170px;
}


/* GOOGLE APPS */


.googleapps .h1-contain {
  background-size: 140px 46px;
  background-repeat: no-repeat;
  background-position: 0px 10px;
}

.youtube{
  display: none;
}



}