@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
 
 
  
.navbar-container{
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	
}



::-webkit-scrollbar { width: 0 !important}

@font-face{
	font-family: pn;
	src: url('PNR.otf');
}

@font-face {
    font-family: pn;
    src: url("PNB.otf");
    font-weight: bold;
}

.global{
	font-family: pn;
	-webkit-font-smoothing: antialiased;
}

.navbar-container{
	background-color: rgba(0,0,0,0.2);
	-webkit-backdrop-filter: blur(20px);
	position: fixed;
	left: 0;
	top: 0;
}

.testblock{
	background-color: red;
	height: 1000px;
}

.navbar {
	height: 100px;
	font-size: 14px;
}

.topnavbar{
	display: inline-block;
	margin-top: 30px;
	font-size: 32px;
}

.topnavbar a {
}

.topnavbar-jasper{
	display: inline-block;
	width: 260px;
	margin-left: 50px;
	/*background-color: blue;*/
}


.topnavbar-portfolio{
	display: inline-block;
	max-width: 625px;
	font-weight: bold;
	/*background-color: green;*/
}

.navbar-item {
	 display: inline-block;
	 width: auto;
	 height: 50px;
	 padding-top: 15px;
	 /*border: 1px solid rgb(200,200,200);*/
	 text-align: center;
	 margin-right: 30px;
}

.navbar-item a {
	 text-decoration: none;
	 color: rgb(255,255,255);
	 font-size: 24px;
	 font-weight: normal;
}

.navbar-item-news a {
	font-weight: bold;
}


.topnavbar-jasper .navbar-item a{
	color: white;
}


.abc {
	color: red;
}

.newscontainer{
	margin-top: -100px;
	min-width: 210%;
	height: 1500px;
	background: -moz-linear-gradient(90deg, rgba(81,167,249,1) 0%, rgba(3,101,192,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(3,101,192,1)), color-stop(100%, rgba(81,167,249,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(81,167,249,1) 0%, rgba(3,101,192,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(81,167,249,1) 0%, rgba(3,101,192,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(81,167,249,1) 0%, rgba(3,101,192,1) 100%); /* ie10+ */
	background: linear-gradient(0deg, rgba(81,167,249,1) 0%, rgba(3,101,192,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0365C0', endColorstr='#51A7F9',GradientType=0 ); /* ie6-9 */
}

.newsh1{ 
	padding-top: 300px;
	padding-left: 50px;
	font-size: 80px;
	font-weight: bold;
	color: white;
}

.newsh2{ 
	margin-top: 30px;
	font-size: 32px;
	color: white;
	padding-left: 50px;
	width: 500px;
}

.newsh3{ 
	margin-top: 30px;
	font-size: 26px;
	color: white;
	padding-left: 50px;
	line-height: 1.2;
	width: 500px;
}