@media only screen
and (min-device-width : 320px) 
and (max-device-width : 667px) 
and (orientation : portrait) {


.news-bg{
  width: calc(100% - 15px);
  height: 375px;
  margin: 0 auto;
  position: relative;
  top: 150px;
}

.news-bg-center{
  width: calc(100% - 15px);
  height: 375px;
  width: 256px;
  margin: 0 auto;
  background-image: url(http://dn27tkn48vqxi.cloudfront.net/static/news-bg-mobile.png);
  background-repeat: no-repeat;
  background-position: 0px -1px;
  background-size: auto 100%;
}

/*.news-bg-left{
  position: absolute;
  display: block;
  float: left;
  width: 354px;
  height: 394px;
  background-image: url(news-head-left-1x.png);
    background-image: -webkit-image-set(
    url(news-head-left-1x.png) 1x,
    url(news-head-left-2x.png) 2x
  );
  background-image: image-set(
    url(news-head-left-1x.png) 1x,
    url(news-head-left-2x.png) 2x
  );
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 354px 394px;
}*/



/* INDEX HEADER */

/*.index-head-container{
  margin-top: -150px;
  padding-left: 17px;
  width: 90%;
  height: 580px;
}

.index-head-block{
  padding-top: 200px;
}

.index-head-h1{
  padding-top: 20px;
  font-size: 34px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

.index-head-h2{
  padding-top: 10px;
  font-size: 15px;
  font-weight: regular;
  line-height: 1.2;
  /*letter-spacing: -0.03em;
}

.index-head-h2-bold{
  font-weight: bold;
}


.index-head-believe{
  font-weight: bold;
}


.index-head-mobile-divider{
  height: 1px;
  width: 35%;
  background-color: rgb(230,230,230);
  margin-top: 17px;
  margin-bottom: 5px;
}*/

/* INDEX WORK LINK BITS */

/*.index-work-container{
  margin-top: -1px;
  display: block;
  height: 120px;
  background-color: white;
  border-top: 1px solid rgb(200,200,200);
  border-bottom: 1px solid rgb(200,200,200);
}


.index-work-text{
  float: left;
  padding-left: 17px;
}

.index-work-h1{
  padding-top: 20px;
  color: rgb(70,70,70);
  font-size: 18px;
  font-weight: bold;
}

.index-work-h2{
  margin-top: 10px;
  color: rgb(130,130,130);
  width: 370px;
  font-size: 14px;
  line-height: 1.2;
  width: 70%;
}

.index-work-h3{
  display: none;
}

.index-work-button-container{
  width: 150px;
  float: right;
  margin-top: -85px;
  margin-right: 45px;
}

.index-work-button{
  width: 180px;
  height: 80px;
  color: rgb(0,126,255);
  background-color: none;
  text-align: right;
  border-radius: 5px;
  padding-top: 12px;
  font-weight: bold;
  margin-top: 0px;
  font-size: 14px;
}

.index-work-button-container a {
  text-decoration: none;
  color: rgb(0,126,255);
  text-align: center;
}

.index-work-button-container a:visited{  
  color: rgb(0,126,255);
  text-decoration: none;
}*/


/* TESTIMONIAL DESKTOP BLANK*/

/*.index-testimonial-container{
  display: none;
}

*/


/* CASE HEADER */
/*
.case-global-show{
  display: block;
}
*/
/*.case-global-hide{
  display: none;
}*/

/*.case-global-hide .case-head-container{
  height: 100%;
}

.case-global-hide .case-content-container{
  display: none;
}

.case-global-hide .mobile-case-navbar-container{
  display: none;
}

.case-global-hide .mobile-case-navbar-container{
  display: none;
}

.case-head-container{
  margin-top: 0px;
  width: 100%;
  height: 1000px;
  padding-right: 0px;
}

.case-head-h1{ 
  padding-top: 100px;
  padding-left: 15px;
  font-size: 40px;
  letter-spacing: -0.03em;
  font-weight: bold;
  color: white;
}

.case-head-h2{ 
  margin-top: 15px;
  font-size: 16px;
  color: white;
  padding-left: 15px;
  display: block;
  font-weight: bold;
}

.case-head-h3{ 
  margin-top: 30px;
  font-size: 16px;
  color: white;
  padding-left: 15px;
  line-height: 1.2;
  width: 270px;
}

*/
/* CASE CONTENT BLOCK */

/*.case-content-container{
  height: auto;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 0px;
}

.case-content-title{
  text-transform: uppercase;
  font-weight: normal;
  color: rgb(170,170,170);
  font-size: 18px;
  letter-spacing: 3.5;
  margin-top: 10px;
}

.case-content-h1{
  margin-top: 20px;
  margin-bottom: 70px;
  font-size: 32px;
  font-weight: bold;
  color: rgb(60,60,60);
}

.case-content-body{
  font-size: 16px;
  line-height: 1.3;
  color: rgb(60,60,60);
  width: 80%;
}
*/



.particle-canvas-container{
  width: 100%;
  height: 480px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

#particle-canvas{
  width: 100%;
  height: 100%;
}

.particle-canvas-blocker{
/*  height: 430px;*/
}


/* INDEX HEAD STUFF */

.index .h3-contain{
  margin-top: 20px;
}



/* INDEX NAV STUFF */
.index-nav-contain {
  height: auto;
  width: 100%;
  padding-bottom: 15px;
  /*background-color: rgba(255,0,0,0.1);*/
  border-top: 1px solid rgb(200,200,200);
  border-bottom: 1px solid rgb(200,200,200);
  margin-bottom: -1px;
}

.index-nav-block{
  width: calc(100% - 30px);
  margin: 0 auto;
}

.index-nav-text{
  width: auto;
  max-width: 500px;
}

.index .index-nav-contain h1 {
  font-size: 22px;
  padding-top: 30px;
 
}

.index-nav-contain h3 {
  font-size: 16px;
  margin-left: 0px;
  margin-bottom: 20px;
  margin-top: 15px;
   text-align: left;
}

.index-nav-contain .h2-contain {
  /*display: none;*/
  width: auto;
  display: block;
  position: static;
  margin-top: 5px;
  top: 0px;
}

.index-nav-button-contain{
  margin-top: 55px;
  height: 55px;
  position: static;
  display: block;
  width: calc(100%+30px);
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  -webkit-tap-highlight-color: rgba(68,160,255,0.2) !important;
}

.index-nav-button-contain a{
  text-decoration: none;
  color: rgb(68,160,255);
  font-size: 17px;
  font-weight: bold;
}

.index-nav-button-contain a:visited{
  text-decoration: none;
  color: rgb(68,160,255);
  
}

.index-nav-button{
  width: 100%;
  height: 100%;
  line-height: 3.0;
}

/*INDEX HEAD BG*/

.index-head-bg-contain{
  width: calc(100% - 30px);
  margin: 0 auto;
  position: relative;
  top: 140px;
  height: auto;
}

.index-head-bg-part{
  height: 25px;
  width: 100%;
  margin-bottom: 10px;
}

.index-head-bg-block{
  height: 2px;
  border-radius: 3px;
}

.index-head-bg-text{
  width: 100%;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: bold;
}

/*DASHBOARDS*/

.dashboards-bg{
  width: 100%;
  height: 473px;
  margin: 0 auto;
  position: relative;
  top: -180px;
  
  background-image: url(dashboards-bg.png);
  background-position: center center;
  background-size: 822px 236px;
  background-repeat: no-repeat;
}

.dashboards .h1-contain h1{
  padding-top: 170px;
}


/* GOOGLE APPS */


.googleapps .h1-contain {
  background-size: 140px 46px;
  background-repeat: no-repeat;
  background-position: 0px 10px;
}

.youtube{
  display: none;
}



}