@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 667px) 
and (orientation : portrait) {

.startcontainer .contenth1{
  font-size: 36px;
  color: red;
  padding-top: 100px;
  letter-spacing: -0.02em;
  font-weight: bold;

}

}