@font-face{
  font-family: pn;
  /*src: url(http://dn27tkn48vqxi.cloudfront.net/static/PNR.otf);*/
  src: url(PNR.otf);
}

@font-face {
    font-family: pn;
    /*src: url(http://dn27tkn48vqxi.cloudfront.net/static/PNB.otf);*/
    src: url(PNB.otf);
    font-weight: bold;
}

* {
font-family: pn, Arial;
  -webkit-font-smoothing: antialiased;
}



/* DESKTOP */

h1 {
	font-size: 60px;
	font-weight: bold;
	letter-spacing: -0.015em;
}


h2 {
	font-size: 13px;
	font-weight: bold;
}



h3 {
	font-size: 22px;
	font-weight: normal;
}


h4 {
	font-size: 28px;
	font-weight: normal;
	width: 650px;
	margin: 0 auto;
	text-align: left;
	line-height: 1.1;
}

h5 {
	font-size: 16px;
	font-weight: bold;
}

h6 {
	font-size: 18px;
	font-weight: bold;
}

p { 
	font-size: 20px;
	width: 550px;
	padding-right: 100px;
	margin: 0 auto;
	text-align: left;
}


/* MOBILE */

@media only screen
and (min-device-width : 320px) 
and (max-device-width : 667px) 
and (orientation : portrait) {

h1 {
	font-size: 45px;
	font-weight: bold;
	letter-spacing: -0.015em;
}


h2 {
	font-size: 12px;
	font-weight: bold;
}



h3 {
	font-size: 18px;
	font-weight: normal;
}


h4 {
	font-size: 25px;
	font-weight: normal;
	width: calc(100% - 30px);
	margin: 0 auto;
	text-align: left;
	line-height: 1.1;
}

.index h4 {
	font-weight: normal;
}



p { 
	font-size: 18px;
	width: calc(100% - 30px);
	padding-right: 0px;
	margin: 0 auto;
	text-align: left;
}

}


