<div id= "desktop-case-navbar-container" class="desktop-case-navbar-container">
    <div class="desktop-case-navbar-block">
        <div class="desktop-case-navbar-header">
            <div class="desktop-case-navbar-list">
                <div class="desktop-case-navbar-item desktop-case-navbar-item-bold">
                    <a href="/news#users">Success</a>
                </div>
                <div class="desktop-case-navbar-item">
                    <a href="/news#success">Success</a>
                </div>
                <div class="desktop-case-navbar-item">
                    <a href="/news#dataandtech">Data and Tech</a>
                </div>
                <div class="desktop-case-navbar-item">
                    <a href="/news#shipped">shipped</a>
                </div>           
            </div>
        </div>
    </div>
</div>