<div id="desktop-navbar-container" class="desktop-navbar-container desktop-navbar-container-news">
    <div class="desktop-navbar-header">
        <div class="desktop-navbar-top">
            <div class="desktop-navbar-name">
                jasper&thinsp;&thinsp;d&thinsp;&thinsp;story
            </div>
            
            <div class="desktop-navbar-case">
                case studies
            </div>
        </div>
        <div class="desktop-navbar-list">
            <div class="desktop-navbar-item">
                <a href="/">intro</a>
            </div>
            <div class="desktop-navbar-item">
                <a href="/sixthings">6 things</a>
            </div>
            <div class="desktop-navbar-item desktop-navbar-item-news desktop-navbar-item-bold">
                <a href="/news">news</a>
            </div>
            <div class="desktop-navbar-item">
                <a href="/dashboard">dashboards</a>
            </div>
            <div class="desktop-navbar-item">
                <a href="/journeys">journeys</a>
            </div>
            <div class="desktop-navbar-item">
                <a href="/googleapps">googleapps</a>
            </div>           
        </div>
    </div>
</div>