<div class="desktop-footer-contain">
	<div class="footer">
		<div class="footer-bar">
			<a id="scrolltop" href="#">
				<div class="footer-bar-left footer-bar-top footer-bar-top-left">
		 			Back to Top
		 		</div>
		 	</a>
			<a id="desktop-footer-next-link">
				<div class="footer-bar-right footer-bar-top">
					<div id="desktop-footer-next"></div>
				</div>	
			</a>		
		</div>
		<div class="footer-bar">
			<a href="/">
				<div class="footer-bar-left">
					Back to Jasperstory.com
				</div>
			</a>
		</div>
		<div class="footer-bar">
			<a href="http://dn27tkn48vqxi.cloudfront.net/static/Jasper-Story-CV.pdf" target="_blank">
				<div class="footer-bar-left"> 
					CV (PDF)	
				</div>
			</a>
		</div>
		<div class="footer-bar footer-bar-email">
			<div class="footer-bar-left">
				<div class="footer-email">
					email me: jasperdstory@gmail.com
				</div>
			</div>			
		</div>
	</div>
</div>