<div class="navbar-container">
        <div class="topnavbar topnavbar-jasper">
            <div class="navbar-top"><a href="/">jasper d story</a></div>
            <div class="navbar-item"><a href="/#intro">#Intro</a></div>
            <div class="navbar-item"><a href="/#7things">#7things</a></div>
        </div>
        <div class="topnavbar topnavbar-portfolio">
            <div class="navbar-top"><a href="/portfolio">product portfolio</a></div>
            <div class="navbar-item navbar-item-news"><a href="/portfolio#news">#News</a></div>
            <div class="navbar-item"><a href="/portfolio#dashboard">#Dashboard</a></div>
            <div class="navbar-item"><a href="/portfolio#journeys">#Journeys</a></div>
            <div class="navbar-item"><a href="/portfolio#googleapps">#Google Apps</a></div>
            
        </div>
</div>