<div id="desktop-navbar-container" class="desktop-navbar-container">
    <div class="desktop-navbar">
        <div class="desktop-navbar-left desktop-navbar-item-index">
                <a href="/">jasper story</a>
        </div>
        <div class="desktop-navbar-right">
            <div class="desktop-navbar-case">
                work
            </div>
            <div class="desktop-navbar-list">
                <div class="desktop-navbar-item desktop-navbar-item-news">
                    <a href="/news">news</a>
                </div>
                <div class="desktop-navbar-item desktop-navbar-item-dashboards">
                    <a href="/dashboards">dashboards</a>
                </div>
                <div class="desktop-navbar-item desktop-navbar-item-journeys">
                    <a href="/journeys">journeys</a>
                </div>
                <div class="desktop-navbar-item desktop-navbar-item-googleapps">
                    <a href="/googleapps">googleapps</a>
                </div>           
            </div>
        </div>
    </div>
</div>