<script type="text/javascript" src="{{ url_for('static', filename='nav.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='case-nav.js') }}"></script>

{% assets "scss_all" %}

<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">

<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='typography.scss') }}">

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='global-page-content.scss') }}">

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='desktop-nav.scss') }}">

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='mobile-nav.scss') }}">

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='desktop-page-content.scss') }}">

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='mobile-page-content.scss') }}"> -->

{% endassets %}

<meta name="viewport" content="width=device-width, initial-scale=1">

<style type="text/css">
<!--
body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px
}
-->
</style>