
<div class="index-nav-contain">
	<div class="index-nav-news-bg">
	<div class="index-nav-block">
		<div class="index-nav-text">
				<h1><a href="/news">News</a></h1>
			<div class="index-nav-h2-list">
				iOS, API DESIGN, BOTS, DATA
			</div>
			<h3>
				An iOS app to make retail teams happier and more productive. How we armed an entire workforce to make faster, smarter decisions with business intelligence and alerts.
			</h3>
		</div>
	</div>
	</div>
</div>

<div class="index-nav-contain">
	<div class="index-nav-dashboards-bg">
	<div class="index-nav-block">
		<div class="index-nav-text">
			<h1><a href="/dashboards">Dashboards</a></h1>
			<div class="index-nav-h2-list">
				WEB, REACT, UI, DATA
			</div>
			<h3>A desktop app for retail teams, to monitor, share, and act on business intelligence. How we could bring context to decisions in every team by co-building with our users.</h3>
		</div>
	</div>
	</div>
</div>

<div class="index-nav-contain">
	<div class="index-nav-journeys-bg">
	<div class="index-nav-block">
		<div class="index-nav-text">
			<h1><a href="/journeys">Journeys</a></h1>
			<div class="index-nav-h2-list">
				DATA, SENSORS, MACHINE-LEARNING
			</div>
			<h3>Google Analytics for the physical world, using sensors. How we built a system from an idea on a whiteboard to over 100 million measured customer journeys.</h3>
		</div>
	</div>
	</div>
</div>

<div class="index-nav-contain">
	<div class="index-nav-googleapps-bg">
	<div class="index-nav-block">
		<div class="index-nav-text">
			<h1><a href="/googleapps">Google Apps</a></h1>
			<div class="index-nav-h2-list">
				MARKETING MANAGEMENT
			</div>
			<h3>A series of projects to support Google growth initiatives. Program and product launches for Google teams in London, Kenya, and Mountain View.</h3>
		</div>
	</div>
	</div>
</div>
