
<div class="index-nav-contain index-nav-contain-news">
	<div class="index-nav-news-bg">
	<div class="index-nav-block">
		<div class="index-nav-text">
			<h1>News</h1>
			<h3>A team iOS app for retailers, delivering business intelligence and alerts. Why we applied apps Instagram and Slack to retail teams.</h3>
			<div class="h2-contain">
				<div class="h2-list">
					<div class="h2-item"><h2>iOS</h2></div>
					<div class="h2-item"><h2>WEB</h2></div>
					<div class="h2-item"><h2>API DESIGN</h2></div>
					<div class="h2-item"><h2>DATA</h2></div>
				</div>
			</div>
			<div class="index-nav-button-contain">
				<a href="/news">
					<div class="index-nav-button">View Project</div>
				</a>
			</div>
		</div>
	</div>
	</div>
</div>

<div class="index-nav-contain">
	<div class="index-nav-dashboards-bg">
	<div class="index-nav-block">
		<div class="index-nav-text index-nav-text-left">
			<h1>Dashboards</h1>
			<h3>A web app for retailers, to monitor, share, and act on business intelligence. Why putting users in the driving seat was so important, and how we built for it.</h3>
			<div class="h2-contain">
				<div class="h2-list">
					<div class="h2-item"><h2>WEB</h2></div>
					<div class="h2-item"><h2>REACT</h2></div>
					<div class="h2-item"><h2>UI</h2></div>
					<div class="h2-item"><h2>DATA</h2></div>	
				</div>
			</div>
			<div class="index-nav-button-contain">
				<a href="/dashboards">
					<div class="index-nav-button">View Project</div>
				</a>
			</div>
		</div>
	</div>
	</div>
</div>

<div class="index-nav-contain">
	<div class="index-nav-journeys-bg">
	<div class="index-nav-block">
		<div class="index-nav-text">
			<h1>Journeys</h1>
			<h3>Google Analytics for the physical world, using sensors. How we built a system from an idea on a whiteboard to over 100m measured customer journeys.</h3>
			<div class="h2-contain">
				<div class="h2-list">
					<div class="h2-item"><h2>DATA</h2></div>
					<div class="h2-item"><h2>SENSORS</h2></div>
					<div class="h2-item"><h2>MACHINE LEARNING</h2></div>
				</div>
			</div>
			<div class="index-nav-button-contain">
				<a href="/journeys">
					<div class="index-nav-button">View Project</div>
				</a>
			</div>
		</div>
	</div>
	</div>
</div>

<div class="index-nav-contain index-nav-googleapps">
	<div class="index-nav-googleapps-bg">
	<div class="index-nav-block">
		<div class="index-nav-text  index-nav-text-left">
			<h1>Google Apps</h1>
			<h3>A series of projects to support Google growth initiatives. Program and product launches for Google teams in London, Kenya, and Mountain View.</h3>
			<div class="h2-contain">
				<div class="h2-list">
					<div class="h2-item"><h2>MARKETING</h2></div>
					<div class="h2-item"><h2>PROGRAM MANAGEMENT</h2></div>				
				</div>
			</div>
			<div class="index-nav-button-contain">
				<a href="/googleapps">
					<div class="index-nav-button">View Project</div>
				</a>
			</div>
		</div>
	</div>
	</div>
</div>

<!-- 

<div class="index-work-container index-work-container-right">
	<div class="index-work-block">
		<div class="index-work-text">
			<div class="index-work-h1">Dashboards</div>
			<div class="index-work-h2">Bring your data out of silos and turn info into action for every decision-maker in your org.</div>
			<div class="index-work-h3">iOS App Web App API Analytics</div>
			<div class="index-work-button-container">
				<a href="/dashboards">
					<div class="index-work-button">View Project</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="index-work-container">
	<div class="index-work-block">
		<div class="index-work-text">
			<div class="index-work-h1">Journeys</div>
			<div class="index-work-h2">Bring your data out of silos and turn info into action for every decision-maker in your org.</div>
			<div class="index-work-h3">iOS App Web App API Analytics</div>
			<div class="index-work-button-container">
				<a href="/journeys">
					<div class="index-work-button">View Project</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="index-work-container index-work-container-right">
	<div class="index-work-block">
		<div class="index-work-text">
			<div class="index-work-h1">Google Apps</div>
			<div class="index-work-h2">Bring your data out of silos and turn info into action for every decision-maker in your org.</div>
			<div class="index-work-h3">iOS App Web App API Analytics</div>
			<div class="index-work-button-container">
				<a href="/googleapps">
					<div class="index-work-button">View Project</div>
				</a>
			</div>
		</div>
	</div>
</div> -->
