<div class="index-head-bg-contain">
	<div class="index-head-bg-part index-head-bg-one">
		<div class="index-head-bg-text">Biz/Customer Dev</div>
		<div class="index-head-bg-block"></div>
	</div>
	<div class="index-head-bg-part index-head-bg-two">
		<div class="index-head-bg-text">Prototyping</div>
		<div class="index-head-bg-block"></div>
	</div>
	<div class="index-head-bg-part index-head-bg-three">
		<div class="index-head-bg-text">Requirements</div>
		<div class="index-head-bg-block"></div>
	</div>
	<div class="index-head-bg-part index-head-bg-four">
		<div class="index-head-bg-text">Build</div>
		<div class="index-head-bg-block"></div>
	</div>
	<div class="index-head-bg-part index-head-bg-five">
		<div class="index-head-bg-text">Release</div>
		<div class="index-head-bg-block"></div>
	</div>
</div>