<div class="mobile-navbar-container">
    <div class="mobile-navbar-left">
        <div class="mobile-navbar-name">
        	jasper d story
        </div>
    </div>
    <div class="mobile-navbar-right">
        <div class="mobile-navbar-section">
        	<span>#</span>
        	<span id="currentsection"></span>
        </div>
        <div id="mobile-navbar-nav-open" class="mobile-navbar-nav">		Open
        </div>
    </div>
</div>

<div id="mobile-navbar-dropdown" class="mobile-navbar-dropdown navbar-close">
	<div class="mobile-navbar-dropdown-title">
	    <div class="mobile-navbar-dropdown-left">
	    	jasper d story
	    </div>
	    <div class="mobile-navbar-dropdown-right"> 
	        <div class="mobile-navbar-dropdown-name">
	            <span class="mobile-navbar-dropdown-name-octo">#</span>
	            <span id="currentsection-nav"></span>
	        </div>
	        <div id="mobile-navbar-nav-close" class="mobile-navbar-dropdown-close">
	        	Close
	        </div>
	    </div>
	</div>
    <div class="mobile-navbar-dropdown-list">
        <div class="mobile-navbar-dropdown-item">
        	<a href="/#start" class="mobile-navbar-dropdown-item-link">#Start</a>
        </div>
        <div class="mobile-navbar-dropdown-item">
        	<a href="/#things" class="mobile-navbar-dropdown-item-link">#6things</a>
        </div>
        <div class="mobile-navbar-dropdown-item">
        	<a href="/#news" class="mobile-navbar-dropdown-item-link">#News</a>
        </div>
        <div class="mobile-navbar-dropdown-item">
        	<a href="/#dashboards" class="mobile-navbar-dropdown-item-link">#Dashboards</a>
        </div> 
        <div class="mobile-navbar-dropdown-item">
        	<a href="/#journeys" class="mobile-navbar-dropdown-item-link">#Journeys</a>
        </div> 
        <div class="mobile-navbar-dropdown-item">
        	<a href="/#googleapps" class="mobile-navbar-dropdown-item-link mobile-navbar-dropdown-item-link-last">#GoogleApps</a>
        </div> 
    </div>
</div>
