<div class="mobile-footer-contain">
	<div class="footer">
		<div class="footer-bar">
			<a id="scrolltop" href="#">
		 		Back to Top
		 	</a>
		 </div>
		 <div class="footer-bar footer-bar-next">
			<a id="mobile-footer-next-link">
				<div id="mobile-footer-next"></div>
			</a>		
		</div>
		<div class="footer-bar">
			<a href="http://dn27tkn48vqxi.cloudfront.net/static/Jasper-Story-CV.pdf" target="_blank">
				<div class="footer-bar-left"> 
					CV (PDF)	
				</div>
			</a>
		</div>
		<div class="footer-bar">
			<a href="mailto:jasperdstory@gmail.com">
				<div class="footer-email">
					jasperdstory@gmail.com
				</div>
			</a>
		</div>
	</div>
</div>