<div id="mobile-navbar-container" class="mobile-navbar-container navbar-close">
    <div class="mobile-navbar-header">
        <div id="mobile-navbar-nav-open" class="mobile-navbar-nav-open">
            <div class="mobile-navbar-left">
                <div class="mobile-navbar-name">
                	jasper&thinsp;&thinsp;d&thinsp;&thinsp;story
                </div>
            </div>
            <div class="mobile-navbar-right">
                <div class="mobile-navbar-section">
                	<span>#</span><span id="currentsection"></span>
                </div>
                <div class="mobile-navbar-nav">
                    <div id="hamburger" class="hamburger">
                        <span class="hamburger__top-bun"></span>
                        <span class="hamburger__bottom-bun"></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="mobile-navbar-header-border" class="mobile-navbar-header-border">
        </div>
    </div>

    <div id="mobile-navbar-dropdown" class="mobile-navbar-dropdown">

        <div id="mobile-navbar-dropdown-list" class="mobile-navbar-dropdown-list">
            <div class="mobile-navbar-dropdown-headspace"></div>
            <div id="mobile-navbar-dropdown-item-1" class="mobile-navbar-dropdown-item">
            	<a href="/#start" class="mobile-navbar-dropdown-item-link">#start</a>
            </div>
            <div id="mobile-navbar-dropdown-item-2" class="mobile-navbar-dropdown-item">
            	<a href="/#things" class="mobile-navbar-dropdown-item-link">#6things</a>
            </div>
            <div id="mobile-navbar-dropdown-item-3" class="mobile-navbar-dropdown-item">
            	<a href="/#news" class="mobile-navbar-dropdown-item-link">#news</a>
            </div>
            <div id="mobile-navbar-dropdown-item-4" class="mobile-navbar-dropdown-item">
            	<a href="/#dashboards" class="mobile-navbar-dropdown-item-link">#dashboards</a>
            </div> 
            <div id="mobile-navbar-dropdown-item-5" class="mobile-navbar-dropdown-item">
            	<a href="/#journeys" class="mobile-navbar-dropdown-item-link">#journeys</a>
            </div> 
            <div id="mobile-navbar-dropdown-item-6" class="mobile-navbar-dropdown-item">
            	<a href="/#googleapps" class="mobile-navbar-dropdown-item-link mobile-navbar-dropdown-item-link-last">#googleapps</a>
            </div> 
        </div>
    </div>
</div>