<div class="mobile-footer-contain">
	<div class="footer">
		<div class="footer-left">
		 	<a href="#">JasperStory.com</a>
		</div>
		<div class="footer-center">
			<a id="scrolltop" href="#">Back to Top</a>
		</div>
		<div class="footer-right">
			<a href="/news">Next: News</a>
		</div>
		<div class="desktop-footer-CV">
			<a href="http://dn27tkn48vqxi.cloudfront.net/static/Jasper-Story-CV.pdf" target="_blank">CV (PDF)</a>
		</div>
		<div class="desktop-footer-email">
			jasperdstory@gmail.com
		</div>
		<div class="mobile-footer-CV">
			<a href="http://dn27tkn48vqxi.cloudfront.net/static/Jasper-Story-CV.pdf"><div class="mobile-footer-button">MY CV (PDF)</div></a>
		</div>
		<div class="mobile-footer-email">
			<a href="mailto:jasperdstory@gmail.com"><div class="mobile-footer-button">JASPERDSTORY@GMAIL.COM</div></a>
		</div>
	</div>
</div>