<div id="mobile-navbar-container" class="mobile-navbar-container navbar-close">
    <div class="mobile-navbar-header">
        <div id="mobile-navbar-nav-open" class="mobile-navbar-nav-open">
            <div class="mobile-navbar-left">
                <div class="mobile-navbar-name">
                	JASPERSTORY.COM
                </div>
                <div class="mobile-navbar-dropdown-head">
                    <a>BACK TO <span id="mobile-navbar-dropdown-head-section"></span></a>
                </div>
            </div>
            <div class="mobile-navbar-right">
                <div class="mobile-navbar-nav">
                    <div id="hamburger" class="hamburger">
                        <span class="hamburger__top-bun"></span>
                        <span class="hamburger__bottom-bun"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="mobile-navbar-dropdown">
            
            <div id="mobile-navbar-dropdown-list" class="mobile-navbar-dropdown-list">                
                
                <div id="mobile-navbar-dropdown-item-1" class="mobile-navbar-dropdown-item">
                    <a href="/" class="mobile-navbar-dropdown-item-link"><span class="mobile-navbar-dropdown-item-jasperfix">JASPER STORY</span></a>
                </div>                
                <div id="mobile-navbar-dropdown-item-2" class="mobile-navbar-dropdown-item mobile-navbar-dropdown-item-link-work">
                	<div class="mobile-navbar-dropdown-item-link-work"><span class="mobile-navbar-dropdown-item-workfix">WORK</span></div>
                </div>
                <div id="mobile-navbar-dropdown-item-3" class="mobile-navbar-dropdown-item">
                	<a href="/news" class="mobile-navbar-dropdown-item-link-work-link"><div class="mobile-navbar-dropdown-item-link-work-link-expand">NEWS</div></a>
                </div>
                <div id="mobile-navbar-dropdown-item-4" class="mobile-navbar-dropdown-item">
                	<a href="/dashboards" class="mobile-navbar-dropdown-item-link-work-link"><div class="mobile-navbar-dropdown-item-link-work-link-expand">DASHBOARDS</div></a>
                </div> 
                <div id="mobile-navbar-dropdown-item-5" class="mobile-navbar-dropdown-item">
                	<a href="/journeys" class="mobile-navbar-dropdown-item-link-work-link"><div class="mobile-navbar-dropdown-item-link-work-link-expand">JOURNEYS</div></a>
                </div> 
                <div id="mobile-navbar-dropdown-item-6" class="mobile-navbar-dropdown-item">
                	<a href="/googleapps" class="mobile-navbar-dropdown-item-link-work-link"><div class="mobile-navbar-dropdown-item-link-work-link-expand">GOOGLEAPPS</div></a>
                </div> 
                <div class="mobile-navbar-dropdown-item mobile-navbar-dropdown-foot">
                    <a href="mailto:jasperdstory@gmail.com">JASPERDSTORY@GMAIL.COM</a>
                </div> 
            </div>

        </div>
        
    </div>
</div>