<div id= "desktop-case-navbar-container" class="desktop-case-navbar-container">
    <div class="desktop-case-navbar-header">
        <div class="desktop-case-navbar-name">
            <div class="desktop-case-navbar-top">
                News Case Study
            </div>
        </div>
        <div class="desktop-case-navbar-list">
            <div class="desktop-case-navbar-item desktop-case-navbar-item-bold">
                <a href="/news#users">#users</a>
            </div>
            <div class="desktop-case-navbar-item">
                <a href="/news#success">#success</a>
            </div>
            <div class="desktop-case-navbar-item">
                <a href="/news#dataandtech">#data and tech</a>
            </div>
            <div class="desktop-case-navbar-item">
                <a href="/news#design">#design</a>
            </div>
            <div class="desktop-case-navbar-item">
                <a href="/news#challenges">#challenges</a>
            </div>
            <div class="desktop-case-navbar-item">
                <a href="/news#shipped">#shipped</a>
            </div>           
        </div>
    </div>
</div>