<div class="carousel-contain">
	<div class="carousel-button-contain">
		<div class="buttons carousel-button carousel-button-left">
			    <div class="carousel-button-arrow carousel-button-arrow-left prev">
		    	</div>
	 	</div>
	</div>
	<div class="carousel-content">
		<div class="carouselbox">
		  <ol class="content">
		 
		    <li>		    	
				<div class="carousel-left">
					<div class="carousel-left-dots">
						<div class="carousel-left-dot carousel-left-dot-active"></div>
						<div class="carousel-left-dot"></div>
						<div class="carousel-left-dot"></div>
					</div>
					<div class="carousel-left-text">
						<div class="carousel-left-title">
						Notifications
						</div>
						<div class="carousel-left-body">
							The fastest place to find out about your results. Your latest scorecard, before you lock up or leave the office.
						</div>
					</div>
				</div>
				<div class="carousel-right carousel-right-one"></div>
		    </li>

		 
		    <li>
		    	<div class="carousel-left">
		    		<div class="carousel-left-dots">
						<div class="carousel-left-dot"></div>
						<div class="carousel-left-dot carousel-left-dot-active"></div>
						<div class="carousel-left-dot"></div>
					</div>
					<div class="carousel-left-text">
						<div class="carousel-left-title">
						Alerts
						</div>
						<div class="carousel-left-body">
							Smoke alarms on your key store results. You can be more responsive by finding out before the end of your day or week.
						</div>
					</div>
				</div>
				<div class="carousel-right carousel-right-two"></div>
		    </li>
		    <li>
		    	<div class="carousel-left">
		    		<div class="carousel-left-dots">
						<div class="carousel-left-dot"></div>
						<div class="carousel-left-dot"></div>
						<div class="carousel-left-dot carousel-left-dot-active"></div>					
					</div>
					<div class="carousel-left-text">
						<div class="carousel-left-title">
						Share Insights
						</div>
						<div class="carousel-left-body">
							Explore your key results and share with your team. Work together with better context.
						</div>
					</div>
				</div>
				<div class="carousel-right carousel-right-three"></div>
		    </li>
		    <!-- <li>
		    	<div class="carousel-left">
		    		<div class="carousel-left-dots">
						<div class="carousel-left-dot"></div>
						<div class="carousel-left-dot"></div>
						<div class="carousel-left-dot"></div>
						<div class="carousel-left-dot carousel-left-dot-active"></div>
						<div class="carousel-left-dot"></div>
					</div>
					<div class="carousel-left-text">
						<div class="carousel-left-title">
						Collaboration with context
						</div>
						<div class="carousel-left-body">
							Messaging response
						</div>
					</div>
				</div>
				<div class="carousel-right carousel-right-four"></div>
		    </li>
		    <li>
		    	<div class="carousel-left">
		    		<div class="carousel-left-dots">
						<div class="carousel-left-dot"></div>
						<div class="carousel-left-dot"></div>
						<div class="carousel-left-dot"></div>
						<div class="carousel-left-dot"></div>
						<div class="carousel-left-dot carousel-left-dot-active"></div>
					</div>
					<div class="carousel-left-text">
						<div class="carousel-left-title">
						Final one
						</div>
						<div class="carousel-left-body">
							Whatever that is
						</div>
					</div>
				</div>
				<div class="carousel-right carousel-right-five"></div>
		    </li> -->
		  </ol>
		</div>
	</div>
	<div class="carousel-button-contain">

		<div class="buttons carousel-button carousel-button-right">
			    
			    <div class="carousel-button-arrow next">
			    </div>
		 </div>
	</div>
</div>