{% extends "base.html" %}

{% block title %}{% endblock %}
{% block navbar %}{% endblock %}

{% block page_content %}
<div class="mobile-navbar-dropdown">
	<div class="mobile-navbar-dropdown-title">
        <div class="mobile-navbar-dropdown-left">jasper d story</div>
        <div class="mobile-navbar-dropdown-right"> 
            <div class="mobile-navbar-dropdown-name">#NewsApp</div>
            <div class="mobile-navbar-dropdown-close"> Close
            	
            </div>
        </div>
    </div>
        <div class="mobile-navbar-dropdown-list">
            <div class="mobile-navbar-dropdown-item">#Start</div>
            <div class="mobile-navbar-dropdown-item">#7things</div>
            <div class="mobile-navbar-dropdown-item"><b>#NewsApp</b></div>
            <div class="mobile-navbar-dropdown-item">#DashboardsApp</div> 
            <div class="mobile-navbar-dropdown-item">#Journeys</div> 
            <div class="mobile-navbar-dropdown-item mobile-navbar-dropdown-item-last">#GoogleApps</div> 

        </div>

</div>

{% endblock %}