{% extends "base.html" %}

{% block title %}: Dashboards{% endblock %}

{% block navbar %}
<div class="dashboards-nav">
	{% include '_desktopnav.html' %}
	{% include '_mobilenav.html' %}
</div>
{% endblock %}

{% block page_content %}

<div id="page-verify" class="dashboards">

<div class="head-contain">
	<div class="head-top-contain">
		<div class="h1-contain">
			<h1>Dashboards</h1>
		</div>
		<div class="h2-contain">
			<div class="h2-list">
				<div class="h2-item"><h2>WEB</h2></div>
				<div class="h2-item"><h2>REACT</h2></div>
				<div class="h2-item"><h2>UI</h2></div>
				<div class="h2-item"><h2>DATA</h2></div>
			</div>
		</div>	
		<div class="h3-contain">
			<h3>
				A desktop app for retail teams to monitor, share, and act on business intelligence. How we had to change how we built products to deliver a truly simple product experience.
			</h3>
		</div>
	</div>
	<div class="dashboards-bg">
	</div>
</div>
<div class="head-contain-clear"></div>

<div class="h4-contain">
	<h4>
		Built at Viewsy, Dashboards is a desktop business intelligence app for retail teams.
	</h4>
	<div class="h4-contain-read">
	(5 min read)
	</div>
</div>

<p>
Retail teams – from the boardroom to the shopfloor – still take decisions based on intuition alone. And while retailers have fantastic instincts, we believed data on their stores and customers could help them move quicker, react faster, and take decisions more confidently and clearly.
</p>
<p>
All we had to do was create a product that succeeded where the big players – like Domo and Tableau – had failed. Dashboards marked a sharp pivot in how we delivered our content to users, and how we designed and built our products.
</p>
<h6>Right for Every Team</h6>
<p>
Before Dashboards, the main way users accessed Viewsy was through email reports. Users loved them: they arrived automatically and they looked great in mobile mailboxes. But reports weren’t flexible enough to fit into the complex structure of a modern retail business. There are store teams at each location, marketing and merchandising teams and a layer of business leaders at head office. Different retail teams have different priorities, different time-horizons, and different structures.
</p>
<p>
We wanted to deliver the right information for every user and every team. It wasn’t practical to custom-build for every business and every team. We believed we had to equip teams to build for themselves. We believed that when teams were able to create, they could build what really mattered to them. A single source of truth on key data – shared with all the right people – meant decisions and feedback could be more transparent and more agile. 
</p>
<p>
Dashboards are designed around “cards”. A Dashboard is a collection of cards, each telling a different story for a different use-case.  Cards deliver simple, beautiful, at-a-glance intelligence. Users can deepdive into each card to focus or explore. Real-time data is pulled from our <a href="/journeys">Journeys analytics system</a>.
</p>
<p>
Users can share Dashboards with colleagues easily.  With Dashboards, there’s a home for every team and every user. No more stitching data together from spreadsheets, PDFs, data cubes and emails. Supported with live data and analysis, intuitively presented, teams adopt strategies and tactics more intelligently, precisely, and responsively.
</p>
<h6>Simplicity through Relevance</h6>
<p>
Best-in-class BI products are too complex for almost all retail teams. Users want to know their critical results. They don’t have the time to learn how to use complicated UIs or reason about data objects and models – table stakes for getting a team on Domo or Tableau. 
</p>
<p>
We believed the BI software leaders had sacrificed simplicity to support the many industries they built for. We wanted to deliver an experience that required no heavy lifting from the user. Our advantage over the BI giants was that we could target retail teams specifically. We wanted to make business intelligence concrete not abstract, simple not complicated, targeted not general. We had built great relationships with Tesco, John Lewis, AllSaints and others. We were learning more and more about the problems retailers faced and how we might begin to solve them.
</p>
<p>
In Dashboards, cards are simple because they are relevant. For example, the Leaderboards card ranks stores. That’s it. For an area manager or head-office exec, these tables provide simple, quick overview of performance across many stores. To build, users drag-and-drop the stores and KPIs they care about. Another example is Weather. Weather can bring short- and mid-term swings to both visitors and sales. With the Weather card, users select the store. A card with current weather and a forecast is added to the Dashboard instantly. With the <a href="/journeys">Journeys data system</a>, we could provide live data – what are store sales in the past half hour. So select your store and stat and away you go.
</p>

<h6>Focused for every user</h6>
<p>
Users can create and share Dashboards easily and quickly. A typical retail employee is part of many teams with many different priorities. But there are only a few Dashboards that keep a user up at night. Maybe it’s an adhoc Dashboard for an ambitious new campaign they’re leading, maybe it’s their home-store KPIs. We didn’t want users to spend time searching for what mattered. We wanted to tell users what they cared about right away.
</p>
<p>
We knew that the top-left of the window was the highest value real-estate for any desktop interface. So that’s where we put every user’s most important Dashboards. Users could favourite any Dashboard and a link would appear at the top of every page. Every time they used Viewsy, they would land at their first favourite, at their most critical information. No searching, no clicks.
</p>
<h6>A New Direction</h6>
<p>
Dashboards marked a new direction for Viewsy, one where we accepted that if we wanted to build a focused product relevant for every team and user, we couldn’t control and bake-in layouts ourselves. We had to hand the reigns over to the user. On the build side, the interface was far more complex than any we had engineered before. We made a strategic decision to invest in React.js – a new technology for our stack. Over 90-days, me and two engineers worked solidly to build from the ground up.
</p>
<p>
For retail teams, Dashboards changes how they operated entirely. Many retailers used the word ‘revolutionised’. To bring business intelligence into team decision-making, we had to make Dashboards ruthlessly simple. But by creating an experience that’s right for every team, decisions are now taken with greater confidence and a clearer focus. With simplicity engineered through constraint – by laser-focusing on what matters to retail teams (hint: it’s not abstract BI terminology) – Dashboards is a tool that retail teams actually use. Now teams experiment more in their decisions. They are leaner – they change store layouts quickly and measure results, they try out new campaigns and test new channels. Teams are more effective, more responsive, and more in control.
</p>
</div>


{% include '_desktopfooter.html' %}
{% include '_mobilefooter.html' %}



{% endblock %}