{% extends "base.html" %}

{% block title %}: Dashboards{% endblock %}

{% block navbar %}
<div class="dashboards-nav">
	{% include '_desktopnav.html' %}
	{% include '_mobilenav.html' %}
</div>
{% endblock %}

{% block page_content %}

<div id="page-verify" class="dashboards">

<div class="head-contain">
	<div class="head-top-contain">
		<div class="h1-contain">
			<h1>Dashboards</h1>
		</div>
		<div class="h2-contain">
			<div class="h2-list">
				<div class="h2-item"><h2>WEB</h2></div>
				<div class="h2-item"><h2>REACT</h2></div>
				<div class="h2-item"><h2>UI</h2></div>
				<div class="h2-item"><h2>DATA</h2></div>
			</div>
		</div>
	</div>
	<div class="dashboards-bg">
	</div>
</div>
<div class="head-contain-clear"></div>

<div class="h3-contain">
	<h3>
	A web app for retailers, to monitor, share, and act on business intelligence. Why putting users in the driving seat was so important, and how we built for it.
	</h3>
</div>

<h4>How to bring together different teams with different goals.</h4>
<p>
Many of our users liked our email reports. They looked great in mobile mailboxes, and provided teams with key data they had never accessed before. But they didn’t fit into the complex structure of a modern retail business.
</p>
<p>
Retailers have many tens or hundreds teams focused on store sales, which often bring in over 90% of their revenue. Store Managers and Area Managers run the stores. Marketing and Merchandising teams who large campaigns. And a layer of business leaders at the top, executives who make important decisions on marketing, products, and stores.
</p>
<p>
Different retail teams had different priorities. They were accomplishing different parts of the business – marketing brings customers in-store, stores build loyalty by providing exceptional service and experience, headquarters design and track processes. Different teams had different time-horizons, for some the last week was important, for others the last six months. Between retailers themselves, the differences were even greater.
</p>
<p>
We couldn’t design a single report relevant  for all retailers and all retail teams. But we were resistant to content-creation tools, because it meant user experience and build complexity.
</p>
<p>
User experience complexity was a big problem with even best-in-class business intelligence products for organisations, like Tableau or Domo. They were too complicated, and too general. Users wanted to know if they moved the needle. They don’t want to construct bar graphs, move about generic data objects, and tweak axes. Our users would never had the time to learn a complex user interface or become literate in business-modelling reasoning. We felt that other products had been forced to sacrifice simplicity to to support the many industries and types of businesses they targeted. We were focussed on retailers. They had teams of hundreds of developers. We had two. 
</p>
<p>
To minimise build complexity we looked closely at our existing data models, and how we could simplify and manage engineering the data flow. To maximise manageability and agility, we built with React.
</p>
<p>
To minimise user complexity, we had to thoughtfully plan the user experience. We wanted to deliver an experience that delivered the right information for each user and team.
</p>

</div>

<div class="footer-contain">
	<div class="footer">
		<div class="footer-left">
		 	<a href="/">Jasper Story</a>
		</div>
		<div class="footer-center">
			<a id="scrolltop" href="#">Back to Top</a>
		</div>
		<div class="footer-right">
		<a href="/journeys">Next: Journeys</a>
		</div>
	</div>
</div>


{% endblock %}