{% extends "base.html" %}

{% block title %}: Google Apps{% endblock %}

{% block navbar %}
<div class="googleapps-nav">
	{% include '_desktopnav.html' %}
	{% include '_mobilenav.html' %}
</div>
{% endblock %}

{% block page_content %}

<div id="page-verify" class="googleapps">

<div class="head-contain">
	<div class="head-top-contain">
		<div class="h1-contain">
			<h1>Apps</h1>
		</div>
		<div class="h2-contain">
			<div class="h2-list">
				<div class="h2-item"><h2>MARKETING</h2></div>
				<div class="h2-item"><h2>PROGRAM MANAGEMENT</h2></div>
			</div>
		</div>
		<div class="h3-contain">
			<h3>
				A series of projects to support Google growth initiatives. Program and product launches for Google teams in London, Kenya, and Mountain View.
			</h3>
		</div>
	</div>
</div>
<div class="head-contain-clear"></div>
<div class="page-line"></div>
<p>
Today’s students will be Google App’s main users tomorrow. I worked on a number of projects globally to support on-campus use of Google Apps. By engaging young users in Google products, we believed they would take this enthusiasm into their future workplaces.
</p>

<p>
One was a campaign to inspire 150 Google student-interns across Europe and have them build communities and lobby decision-makers on campus. Another was a campaign in Spain pushing for the launch of a consortium of universities onto the Google Apps platform.
</p>

<p>
I was involved in the execution and process of these programs. But I found my niche in helping the Google team to explore broader narratives in our work, and to tell stories in more meaningful, inspiring, and effective ways.
</p>

<p>
In London, this meant writing keynotes for new initiatives. I also co-authored and produced a video with my manager for the Google CMO for the launch of a writing competition. In Zurich I produced a 90-second ad for a program launch. In Spain I created another ad, showing a future world where students would better collaborate, search, and organise information on campus.
</p>

<br>

<div class="testimonial-contain">
	<p>
	“Jasper was an exemplary colleague, performing well beyond expectations. Quick to take the initiative and to challenge the status quo, Jasper combined great creative vision and entrepreneurial imagination with an impressively measured and analytical drive towards results”.
	</p>
	<div class="googleapps-testimonial-name">
		Robin Morgan, Google Global Marketing Manager (now at  Amazon)
	</div>
</div>


<div class="h3-contain youtube">
	<h3>
	Example Ad<br>
	<div class="youtube-90"> (Produced with Google Apps team, 90 seconds)</div>
	</h3>
	

	<div class="youtube-contain">
		<iframe width="658" height="370" src="https://www.youtube.com/embed/ZZlqsfC-kwA?autoplay=0&controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
	<br>
	<br>
</div>


{% include '_desktopfooter.html' %}
{% include '_mobilefooter.html' %}



</div>



{% endblock %}