{% extends "base.html" %}

{% block title %}: Google Apps{% endblock %}

{% block navbar %}
<div class="googleapps-nav">
	{% include '_desktopnav.html' %}
	{% include '_mobilenav.html' %}
</div>
{% endblock %}

{% block page_content %}

<div id="page-verify" class="googleapps">

<div class="head-contain">
	<div class="head-top-contain">
		<div class="h1-contain">
			<h1>Apps</h1>
		</div>
		<div class="h2-contain">
			<div class="h2-list">
				<div class="h2-item"><h2>MARKETING</h2></div>
				<div class="h2-item"><h2>PROGRAM MANAGEMENT</h2></div>
			</div>
		</div>
	</div>
</div>
<div class="head-contain-clear"></div>

<div class="h3-contain">
	<h3>
		A series of projects to support Google growth initiatives. Program and product launches for Google teams in London, Kenya, and Mountain View.
	</h3>
</div>

<div class="h3-contain">
	<h3>
		“Jasper was an exemplary colleague, performing well beyond expectations. Quick to take the initiative and to challenge the status quo, Jasper combined great creative vision and entrepreneurial imagination with an impressively measured and analytical drive towards results”.
	</h3>
	<div class="googleapps-testimonial-name">
		<h3>
			Robin Morgan, Google Global Marketing Manager (now at  Amazon)
		</h3>
	</div>
</div>

<br>
<br>
<p>
In London, we wanted to grow Google Apps market share with users who represented the future of Google. We targeted them through universities, where students would build community and lobby for better products on campus. We had to engage and inspire over 150 interns across Europe. In Spain, we were pushing for engagement in a consortium.
</p>

<p>
I helped in the execution and process of these programs. But I found a niche in helping the team build the deeper stories around them.
</p>

<p>
In London, this meant writing keynotes for new initiatives. I co-authored and made a video with my manager for the Google CMO telling the stories of young wordsmiths. In Zurich it meant producing a 90-second ad for a program launch. In Spain I created another ad for Government ministers and education leaders. It showed a future world, which demonstrated how students would better collaborate, search, and organise information on campus.
</p>

<br>
</div>


<div class="h3-contain youtube">
	<h3>
	Example Ad<br>
	<div class="youtube-90"> (Produced with Google Apps team, 90 seconds)</div>
	</h3>
	

	<div class="youtube-contain">
		<iframe width="658" height="370" src="https://www.youtube.com/embed/ZZlqsfC-kwA?autoplay=0&controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
	<br>
	<br>
</div>

<div class="footer-contain journeys-footer">
	<div class="footer">
		<div class="footer-left">
		 	<a href="/">JasperStory.com</a>
		</div>
		<div class="footer-center">
			<a id="scrolltop" href="#">Back to Top</a>
		</div>
		<div class="footer-right">
		</div>
		<div class="desktop-footer-email">
			jasperdstory@gmail.com
		</div>
		<div class="mobile-footer-email">
			<a href="mailto:jasperdstory@gmail.com"><div class="mobile-footer-email-button">JASPERDSTORY@GMAIL.COM</div></a>
		</div>
	</div>
</div>

{% endblock %}