{% extends "base.html" %}

{% block navbar %}
<div class="index-nav">
	{% include '_desktopnav.html' %}
	{% include '_mobilenav.html' %}
</div>
{% endblock %}

{% block page_content %}

<div id="page-verify" class="index">

<!-- DESKTOP  -->

<div class="head-contain">
	<div class="head-top-contain">
		<div class="h1-contain">
			<h1>Hi, I'm Jasper.</h1>
		</div>
		<div class="h3-contain index-h3">
			<h3>
				I'm a product manager.
			</h3>
		</div>
	</div>
	<div class="h3-contain index-h3-2">
		<h3>I lead teams to design and build great products, and get to market quickly.</h3>
		<h3>I coördinate with customers, CEO's, engineers and designers to get things done.</h3>
		<h3>I’ve shipped and launched products at a tiny startup and a big tech company.</h3>
	</div>	
	<div class="page-line"></div>
	<div class="h3-contain index-h3-3">
		<h3>To understand how I work, here are some case studies of recent work:</h3>
	</div>
</div>
<div class="head-contain-clear"></div>

<!-- MOBILE  -->
<div class="mobile-head-contain">
	<div class="head-top-contain">
		<div class="h1-contain">
			<h1>Hi there.</h1>
		</div>
		<div class="index-h3">
			<h3>
				I'm Jasper.
			</h3>
			<h3>
				I'm a product manager.
			</h3>
		</div>
	</div>
	<div class="index-h3-2">
		<h3>I lead teams to design and build great products, and get to market quickly.</h3>
		<h3>I coördinate with customers, CEO's, engineers and designers to get things done.</h3>
		<h3>I’ve shipped and launched products at a tiny startup and a big tech company.</h3>
	</div>	
	<div class="page-line"></div>
	<div class="index-h3-3">
		<h3>To understand how I work, here are some case studies of recent work:</h3>
	</div>
</div>


<div class="mobile-head-contain-clear"></div>



{% include '_indexnavcontain.html' %}

{% include '_desktopfooter.html' %}
{% include '_mobilefooter.html' %}


</div>


{% endblock %}