{% extends "base.html" %}

{% block page_content %}

<div id="page-verify" class="index">

<div class="index-container">

<div class="index-head-container">
	<div class="index-head-block">
		<div class="index-head-h1">Hi, I'm Jasper.
		<br> I build products.</div>
		<div class="index-head-h2">I’m searching for my next challenge. I enjoy leading teams of super-smart people to deliver exceptional experiences that change how people live.
		I enjoy leading teams of super-smart people to deliver exceptional experiences that change how people live.</div>
		<div class="index-head-mobile-divider"></div>
		<div class="index-head-h2 index-head-believe">
			<a href="/sixthings">There are 6 things I believe.<a></div>
		<div class="index-head-mobile-divider"></div>
		<div class="index-head-h2 index-head-h2-bold">I’ve organised my work into three shipped products and as my role at Google.</div>
	</div>
</div>
	
<div class="index-work-container">
	<div class="index-work-block">
		<div class="index-work-text">
			<div class="index-work-h1">News</div>
			<div class="index-work-h2">Bring your data out of silos and turn info into action for every decision-maker in your org.</div>
			<div class="index-work-h3">iOS App Web App API Analytics</div>
			<div class="index-work-button-container">
				<a href="/news">
					<div class="index-work-button">View Project</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="index-testimonial-container">
	<div class="index-testimonial-block">
		<div class="index-testimonial-h1">“Great creative vision and entrepreneurial imagination with an <br> impressively measured and analytical drive towards results.”</div>
		<div class="index-testimonial-h2">Robin Morgan, Global Product Marketing Manager, Google</div>
	</div>
</div>

<div class="index-work-container index-work-container-right">
	<div class="index-work-block">
		<div class="index-work-text">
			<div class="index-work-h1">Dashboards</div>
			<div class="index-work-h2">Bring your data out of silos and turn info into action for every decision-maker in your org.</div>
			<div class="index-work-h3">iOS App Web App API Analytics</div>
			<div class="index-work-button-container">
				<a href="/dashboards">
					<div class="index-work-button">View Project</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="index-testimonial-container">
	<div class="index-testimonial-block">
		<div class="index-testimonial-h1">“Great creative vision and entrepreneurial imagination with an <br> impressively measured and analytical drive towards results.”</div>
		<div class="index-testimonial-h2">Robin Morgan, Global Product Marketing Manager, Google</div>
	</div>
</div>


<div class="index-work-container">
	<div class="index-work-block">
		<div class="index-work-text">
			<div class="index-work-h1">Journeys</div>
			<div class="index-work-h2">Bring your data out of silos and turn info into action for every decision-maker in your org.</div>
			<div class="index-work-h3">iOS App Web App API Analytics</div>
			<div class="index-work-button-container">
				<a href="/journeys">
					<div class="index-work-button">View Project</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="index-testimonial-container">
	<div class="index-testimonial-block">
		<div class="index-testimonial-h1">“Great creative vision and entrepreneurial imagination with an <br> impressively measured and analytical drive towards results.”</div>
		<div class="index-testimonial-h2">Robin Morgan, Global Product Marketing Manager, Google</div>
	</div>
</div>

<div class="index-work-container index-work-container-right">
	<div class="index-work-block">
		<div class="index-work-text">
			<div class="index-work-h1">Google Apps</div>
			<div class="index-work-h2">Bring your data out of silos and turn info into action for every decision-maker in your org.</div>
			<div class="index-work-h3">iOS App Web App API Analytics</div>
			<div class="index-work-button-container">
				<a href="/googleapps">
					<div class="index-work-button">View Project</div>
				</a>
			</div>
		</div>
	</div>
</div>

</div>

</div>

{% endblock %}