{% extends "base.html" %}

{% block page_content %}



<!-- <div class="mobile-top-nav-space">
</div> -->

<a name="start"> </a>
<div id="start" class="contentcontainer">
	<div class="startcontainer">
		<div class="contenth1">Hi, I'm Jasper.</div>
		<div class="contenth2">I’m a product manager searching for my next challenge.</div>
		<div class="contenth3">Most of my work has been at Viewsy, an awesome startup based in London.</div>
		<div class="contenth3">Before that, I worked with teams at Google and completed the TeachFirst program.</div>
		<div class="contenth3">If you think we’d work well together, get in touch.</div>
	</div>
</div>


<a name="things"> </a>
<div id="things" class="contentcontainer">
	<div class="newscontainer">
		<div class="contenth1">6 things I know</div>
		<div class="contenth2">ma things</div>
		<div class="contenth3">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
	</div>
</div>

<a name="news"> </a>
<div id="news" class="contentcontainer">
	<div class="newscontainer">
		<div class="contenth1">News</div>
		<div class="contenth2">iOS app / Web app / API / Natural Language / Analytics</div>
		<div class="contenth3">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
	</div>
</div>

<a name="dashboards"> </a>
<div id="dashboards" class="contentcontainer">
	<div class="newscontainer">
		<div class="contenth1">Dashboards</div>
		<div class="contenth2">Web app / React / API / Natural Language / Analytics</div>
		<div class="contenth3">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
	</div>
</div>

<a name="journeys"> </a>
<div id="journeys" class="contentcontainer">
	<div class="newscontainer">
		<div class="contenth1">Journeys</div>
		<div class="contenth2">Data / Streaming / Coolshit</div>
		<div class="contenth3">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
	</div>
</div>

<a name="googleapps"> </a>
<div id="googleapps" class="contentcontainer">
	<div class="newscontainer">
		<div class="contenth1">Google Apps</div>
		<div class="contenth2">Program Management</div>
		<div class="contenth3">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
	</div>
</div>

{% endblock %}