{% extends "base.html" %}

{% block page_content %}

<div id="page-verify" class="journeys">

<div class="head-contain">
	<div class="head-top-contain">
		<div class="h1-contain">
			<h1>Journeys</h1>
		</div>
		<div class="h2-contain">
			<div class="h2-list">
				<div class="h2-item"><h2>DATA</h2></div>
				<div class="h2-item"><h2>SENSORS</h2></div>
				<div class="h2-item"><h2>MACHINE LEARNING</h2></div>
			</div>
		</div>
	</div>
</div>
<div class="head-contain-clear"></div>

<div class="particle-canvas-container">
	<div id="particle-canvas"></div>
</div>

<div class="particle-canvas-blocker"></div>

<div class="h3-contain">
	<h3>
		A team communication app for retail teams. Delivers news on store performance, from the latest sales results to live crowd alerts. Built to deliver the right information at just the right time. How me and two engineers built a business iOS and web app for some of the largest retailers.
	</h3>
</div>

<!-- {% include '_desktopworknav.html' %} -->
<!-- {% include '_mobileworknav.html' %} -->

<!-- <a name="users"></a> -->
<h4>Business Intelligence for managers from the Instagram generation.</h4>
<p>
Sarah is a retail store manager. From hiring employees, hitting targets and managing ops, she’s the CEO of the store. She’s great at organising people and inspiring them, she has a strong sense of aesthetics and the brand. She spends most of her time on the shop floor, solving problems, putting out fires.
</p>

<p>
If her store sales are down this week, she’ll find out with a call next Monday morning from her boss, who manages all the stores in London. It’s difficult to pin down why sales are down. Some store teams were trying to use social networks to try and solve the problems themselves.
</p>

<p>
We were designed to solve this. To improving decisions through data. I worked with two engineers, on iOS and on the web/backend from white-boarding through to release. At Viewsy, we were all about the power of business intelligence to improve retail outcomes for store teams. We discovered that in terms of business intelligence, store teams had problems around availability, access, distribution, and speed.
</p>
<p>
White-boarding and collaborating with customers, our CEO and our engineers, we believed these problems could be solved by different features and technologies. Some were no brainers: for example, mobile-first products for access from the shop-floor. Or that with a modern, performant backend we could get data much faster into the hands of users, in seconds, not days.
</p>
<p>
Retail organisations have a different hierarchy and structure to typical businesses. Each have tens or hundreds of store teams each comparable and together bringing in over 80% of the retailers sales. Store managers were like players in a team, and as a coach, area managers, needed stats on their players. With shared reporting of good data, area managers have a space not to punish stores for poor results, but to aid performance and provide feedback with context. 
</p>

<p>
The core features of the product required careful planning and repeated prototyping. Like shared store feeds using reporting bots, how to handle and provide meaningful team-admin features, or mobile and sync strategies, for silent error and late data handling.
</p>
<p>
News was designed to help retail teams become faster, happier, and more productive. We designed, built and shipped a messaging platform for team comms with shared results and alerts.
</p>
</div>

<div class="footer-contain">
	<div class="footer">
		<div class="footer-left">
		 	<a href="/">Jasper Story</a>
		</div>
		<div class="footer-center">
			<a id="scrolltop" href="#">Back to Top</a>
		</div>
		<div class="footer-right">
		<a href="/googleapps">Next: Google Apps</a>
		</div>
	</div>
</div>


{% endblock %}