{% extends "base.html" %}

{% block page_content %}
<div id="case-global" class="case-global case-global-show">

<div class="case-head-container news-case">
	<div class="case-head-block">
		<div class="case-head-h1">News</div>
		<div class="case-head-h2">iOS app &nbsp;&nbsp; Web app &nbsp;&nbsp; API &nbsp;&nbsp; Analytics</div>
		<div class="case-head-h3">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
	</div>
</div>

{% include '_desktopnewsnav.html' %}
{% include '_mobilenewsnav.html' %}

<a name="users"> </a>
<div class="case-content-container">
	<div>
		<div class="case-content-title">Users</div>
		<div class="case-content-h1">Aspiring Execs</div>
		<div class="case-content-body">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
		<br>
		<div class="case-content-body">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
		<br>
		<div class="case-content-body">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
	</div>
</div>

<a name="success"> </a>
<div class="case-content-container">
	<div>
		<div class="case-content-title">Success</div>
		<div class="case-content-h1">What the product should do</div>
		<div class="case-content-body">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
		<br>
		<div class="case-content-body">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
		<br>
		<div class="case-content-body">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
	</div>
</div>


<a name="dataandtech"> </a>
<div class="case-content-container">
	<div>
		<div class="case-content-title">Data and Tech</div>
		<div class="case-content-h1">How the product works</div>
		<div class="case-content-body">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
		<br>
		<div class="case-content-body">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
		<br>
		<div class="case-content-body">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
	</div>
</div>


<a name="design"> </a>
<div class="case-content-container">
	<div>
		<div class="case-content-title">Design</div>
		<div class="case-content-h1">How the product should work</div>
		<div class="case-content-body">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
		<br>
		<div class="case-content-body">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
		<br>
		<div class="case-content-body">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
	</div>
</div>

<a name="challenges"> </a>
<div class="case-content-container">
	<div>
		<div class="case-content-title">Challenges</div>
		<div class="case-content-h1">What was difficult</div>
		<div class="case-content-body">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
		<br>
		<div class="case-content-body">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
		<br>
		<div class="case-content-body">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
	</div>
</div>


<a name="shipped"> </a>
<div class="case-content-container">
	<div>
		<div class="case-content-title">Shipped</div>
		<div class="case-content-h1">What was built</div>
		<div class="case-content-body">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
		<br>
		<div class="case-content-body">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
		<br>
		<div class="case-content-body">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>
	</div>
</div>


<div>
{% endblock %}