{% extends "base.html" %}

{% block title %}: News{% endblock %}

{% block navbar %}
<div class="nav news-nav">
	{% include '_desktopnav.html' %}
	{% include '_mobilenav.html' %}
</div>
{% endblock %}

{% block page_content %}

<div id="page-verify" class="news">

<div class="head-contain">
	<div class="head-top-contain">
		<div class="h1-contain">
			<h1>News</h1>
		</div>
		<div class="h2-contain">
			<div class="h2-list">				
				<div class="h2-item"><h2>iOS</h2></div>
				<div class="h2-item"><h2>WEB</h2></div>
				<div class="h2-item"><h2>API DESIGN</h2></div>
				<div class="h2-item"><h2>DATA</h2></div>
			</div>
		</div>
		<div class="h3-contain">
			<h3>
				An iOS app to make retail teams happier and more productive. By delivering business intelligence and alerts, we armed an entire workforce to make faster, smarter decisions.
			</h3>
		</div>
	</div>
	<div class="news-bg">
		<div class="news-bg-center"></div>
	</div>
</div>
<div class="head-contain-clear"></div>

<div class="h4-contain">
	<h4>
		How instant feedback and richer conversations made for happier, higher-performing store teams.
	</h4>
	<div class="h4-contain-read">
	(4 min read)
	</div>
</div>

<p>
When I interviewed a store manager at one of our clients, AllSaints, I asked him what his job as a store manager was. What was he there to do? To him, it seemed like an odd question. “To increase sales at my stores. That’s it”. 
</p>
<p>
At retailers, each store is run like a stand alone business, and store managers are the CEOs. They are responsible for everything from hiring to managing ops and running campaigns.
</p>
<p>
Stores bring in over 80% of a retailer’s revenues. Retailers can have hundreds or thousands store teams and every one has the same structure. A store manager leads a team of shopfloor employees. An area or country manager oversees multiple stores.
</p>
<p>
We discovered that store teams often struggle to collaborate and co-ordinate effectively. Email chains are inefficient with large, complicated teams. Phone calls feel too direct and too significant for day-to-day feedback. Area managers are focussed on putting out fires, and often the only time a store manager hears from them is when something goes wrong. Some store teams at leading retailers have tried using public social networks to co-ordinate more easily and share data faster.
</p>
<p>
For coordination, we looked at how Slack brings teams together, and thought about how we could build something tailored for retail teams. To make data sharing easier, we wanted News to be single-source of truth on-the-go (for desktop, users were already using our <a href="/dashboards">Dashboards product</a>). To explore how to bring data into conversations, we looked at how Instagram delivers rich content.
</p>
<p>
Enter News. News is an iOS app. The app is structured around Store messaging groups to provide a place to collaborate and co-ordinate. Store Managers and Area Managers message instantly, share data, and coordinate around the latest information. For each store, reporting bots post updates on the latest indicators and outcomes.
</p>
<h6>Instant Feedback</h6>
<p>
Store managers are coaches for their shopfloor employees. But with a limited sense of how they are performing – data is often days or weeks late – giving actionable, focused feedback can be tricky. Store managers find out how their doing against their targets when its too late to intervene: if weekly sales are down, they’ll find out the following Monday morning with a call from their boss. 
</p>
<p>
We wanted store managers to feedback confidently and clearly to their employees and bosses. We wanted targets to become meaningful again and connect store managers with their performance right now, not their performance last quarter. We wanted to make the on-going conversations between store managers and their bosses more transparent and avoid dreaded Monday-morning calls. We knew we could leverage our existing <a href="/journeys">Journeys data system</a> and our performant backend, and build with iOS, APNS, Websockets and other technologies to invent this future.
</p>
<p>
News makes feedback instant. Managers can access live performance indicators, and recieve a store summary before they lock up. They adapt quicker, plan better, and worry less. News delivers real-time notifications on customer behaviour. Store teams become proactive and agile. And by analysing past performance, News identifies when on-going results are out-of-the-ordinary and alerts users instantly.
</p>
<h6>Richer Conversations</h6>
<p>
Sales and visitor statistics tell an important, but limited story of store performance. Users don't just want to know that their sales are down. They want to know why. They don’t just want to describe their performance, they want to understand, evaluate and improve it.
</p>
<p>
When store teams know the why behind their results, they can plan more effectively and provide feedback more meaningfully. We applied business modelling algorithms to our statistics (from the <a href="/journeys">Journeys data system</a>) to attribute a dollar value to each point of the store funnel. Suppose sales were down $10k one week: we could identify that poor spend-per-customer caused $9k of that loss. Or that one store outperforms another because they are better at attracting passers-by in-store.
</p>
<p>
Now, with News, store teams pin-point their weaknesses and strengths. Simple indicators tell them what’s wrong, how it’s affecting their bottom-line, and what to do about it. Many users told us News revolutionised how they make decisions and has made their feedback conversations richer and more effective.
</p>
<h6>Happier, Higher-Performing Teams</h6>
<p>
With News, retail teams communicate faster and are happier and more productive. Every manager, from C-Level to the store, has access to a single source of truth about store performance and customer experience, available wherever they are, whenever they need. They can identify new opportunities, justify decisions, and feedback more transparently. From real-time notifications to powerful store funnel analysis, store teams are ready to make better decisions and improve results.
</p>


{% include '_desktopfooter.html' %}
{% include '_mobilefooter.html' %}

</div>

{% endblock %}