{% extends "base.html" %}

{% block title %}: News{% endblock %}

{% block navbar %}
<div class="news-nav">
	{% include '_desktopnav.html' %}
	{% include '_mobilenav.html' %}
</div>
{% endblock %}

{% block page_content %}

<div id="page-verify" class="news">

<div class="head-contain">
	<div class="head-top-contain">
		<div class="h1-contain">
			<h1>News</h1>
		</div>
		<div class="h2-contain">
			<div class="h2-list">
				<div class="h2-item"><h2>iOS</h2></div>
				<div class="h2-item"><h2>WEB</h2></div>
				<div class="h2-item"><h2>API DESIGN</h2></div>
				<div class="h2-item"><h2>DATA</h2></div>
			</div>
		</div>
	</div>
	<div class="news-bg">
		<div class="news-bg-right"></div>
		<div class="news-bg-left"></div>
		<div class="news-bg-center"></div>
	</div>
</div>
<div class="head-contain-clear"></div>

<div class="h3-contain">
	<h3>
		A team messaging app for retail teams. Delivers news on store performance, from the latest sales results to live crowd alerts. What we learnt from Slack in building products.
	</h3>
</div>

<h4>Business Intelligence for managers from the Instagram generation.</h4>

<p>
Sarah is a retail store manager. From hiring employees, hitting targets and managing ops, she’s the CEO of the store. She’s great at organising people and inspiring them. She has a strong sense of aesthetics and her companies brand. She spends a lot of time on the shop floor, solving problems, putting out fires. She plans and co-ordinates projects from headquarters.
</p>
<p>
She runs her store like a business. She’s judged on her sales. If they are down one week, she’ll find out with a call on Monday morning from her boss, who manages all the stores in London. It’s difficult to pin down why sales are down, so no-one likes these calls much. 
</p>
<p>
We felt that this interaction was important. So did retail teams.
</p>
<p>
Some store teams of leading retailers were trying to use public social networks to try and solve the problems themselves. They would share sales results and other basic indicators: how many customers convert to sales, and how much would they each spent. Store managers know that if their teams improve the store experience for customers, these metrics will increase and her sales should rise.
</p>
<p>
Products to improve work are changing. Teams can communicate with Slack. They can collaborate with Google Docs. Users enjoy these experiences because they solve their problems directly. Slack and Google Docs improves how teams perform and cooperate. 
</p>
<p>
More and more of these new products are designed around the structure of the work team and focus on the user problems.
I worked with two engineers, on iOS and on the web/backend from white-boarding through to release. News required careful technical planning, repeated prototyping with users, and constant problem-solving. How to handle and provide meaningful team-admin features. Or mobile sync strategies. How to silently handle data errors and late data.
</p>
<p>
We designed News to help retail teams become faster, happier, and more productive.
</p>
<p>
When managers have instant feedback on store results they could worry less and adapt quicker. Store managers could react quicker if they had smoke alarms for key indicators. They were perform better with a space to share and discuss results. 
</p>
{% include '_newscarousel.html' %}

<div class="footer-contain">
	<div class="footer">
		<div class="footer-left">
		 	<a href="/">JasperStory.com</a>
		</div>
		<div class="footer-center">
			<a id="scrolltop" href="#">Back to Top</a>
		</div>
		<div class="footer-right">
		<a href="/dashboards">Next: Dashboards</a>
		</div>
		<div class="desktop-footer-email">
			jasperdstory@gmail.com
		</div>
		<div class="mobile-footer-email">
			<a href="mailto:jasperdstory@gmail.com"><div class="mobile-footer-email-button">JASPERDSTORY@GMAIL.COM</div></a>
		</div>
	</div>
</div>

</div>

{% endblock %}