{% extends "base.html" %}

{% block title %}{% endblock %}

{% block page_content %}




<a name="news"> </a>

<div class="newscontainer">

	<div class="newsh1">News</div>
	<div class="newsh2">iOS app / Web app / API / Natural Language / Analytics</div>
	<div class="newsh3">Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.</div>






</div>

<div class="testblock">
</div>
dashboard
<a name="dashboard"> </a>
<div class="testblock">
</div>
journeys
<a name="journeys"> </a>

<div class="testblock">
</div>
google apps
<a name="googleapps"> </a>
<div class="testblock">
{% endblock %}