{% extends "base.html" %}

{% block page_content %}

<div id="page-verify" class="things">

<div class=things-container>

<div class="things-head-container">
	<div class="things-head-block">
		<div class="things-head-h1">Six things I believe</div>
	</div>
</div>

<div class="things-thing-container">
	<div class="things-thing-block">
		<div class="things-thing-container-number">1</div>
		<div class="things-thing-container-h1">First thing</div>
		<div class="things-thing-container-body">
			Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.
		</div>
	</div>
</div>

<div class="things-thing-container">
	<div class="things-thing-block">
		<div class="things-thing-container-number">2</div>
		<div class="things-thing-container-h1">Second thing</div>
		<div class="things-thing-container-body">
			Now everyone, from C-Level to Store Manager, have access to a single source of truth about customer experience in your stores. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword. Bring your data out of silos and turn information into action for every decision-maker in your organisation Share knowledge across roles and teams. Make data-driven culture a reality, not a buzzword.
		</div>
	</div>
</div>

</div>

</div>

{% endblock %}